[2018-01-31 20:36] rndmh3ro opened #1 "centos/rhel repository always overwritten"
The following task runs twice, the first time with the variable `centos`, the second time with the variable `rhel`.
[code]

However since the name of the repo is always `nginx`, the repo is always overwritten:
[code]

I briefly checked both repositories and at least for the rpms they seem to have the same content.
Possible solutions:
- always use the same url regardless of rhel or centos
- split t

[2018-01-31 21:41] alessfg commented on #1
Thanks for submitting the bug @rndmh3ro! I think the second solution you proposed makes the most sense.

[2018-01-31 22:23] #1 closed

[2018-02-19 14:17] ojan opened #4 "error on signing key"
Hello,

Trying to install Nginx open source on Ubuntu 16.04 with Ansible 2.4.3 gives me the following error :

    fatal: [instance]: FAILED! => {"changed": false, "cmd": "/usr/bin/apt-key adv --keyserver ha.pool.sks-keyservers.net --recv 573BFD6B3D8FBC641079A6ABABF5BD827BD9BF62", "msg": "Error fetching key 573BFD6B3D8FBC641079A6ABABF5BD827BD9BF62 from keyserver: ha.pool.sks-keyservers.net", "rc":

[2018-02-20 19:35] alessfg commented on #4
Hi @ojan!

I cannot seem to replicate the error on my end. Have you tried re-running the role? (There may have been some temporary issues with the key server.)

If the issue persists, can you check whether you have `gpg` installed on your Ubuntu machine?

Kind Regards,
Alessandro.

[2018-02-21 09:59] ojan commented on #4
Hi @alessfg,

Thanks for your response. And sorry for my mistake. I just forgot to start my playbook with `become: true`. Shame on me :-)

[2018-02-21 09:59] #4 closed

[2018-02-26 21:34] robgarner opened #7 "main_template_enable, http_template_enable, stream_template_enable"
Hi -

Re: main_template_enable, http_template_enable, stream_template_enable

Can you give us some idea what you have in mind for implementing these vars, and whether or not they're on your radar for a near or far timeframe ?

Thanks,
-Rob

[2018-02-26 22:58] alessfg commented on #7
Hi @robgarner!

The variables are already implemented (although admittedly the implementation is very basic at this stage). The idea is to use `main_template_*` to manage the `nginx.conf` file, `http_template_*` to manage `http` blocks, and `stream_template_*` to manage `stream` blocks.

For example, you can use `main_template_enable` by setting its value to `true`. You can then set other values s

[2018-04-05 18:37] alessfg opened #15 "NGINX API template is deployed when http_template_enable is set to true even if rest_api_enable is set to false"
Per #14, [`api.conf.j2`](https://github.com/nginxinc/ansible-role-nginx/blob/master/templates/http/api.conf.j2) gets deployed if `http_template_enable` is set to true. That is not the intended behaviour - [`api.conf.j2`](https://github.com/nginxinc/ansible-role-nginx/blob/master/templates/http/api.conf.j2) should only be deployed if `rest_api_enable` is set to true.

[2018-04-05 23:05] #15 closed

[2018-04-06 23:29] alessfg opened #17 "REST API configuration file gets created even if rest_api_enable is set to false"
The changes made in #16 result in an empty api.conf file being created even if rest_api_enable is set to false

[2018-04-09 17:27] #17 closed

[2018-04-13 15:44] snikiforov4 opened #20 "The conditional check 'default_exists.stat.exists && main_template_enable' failed"
[code]

Hi there! It seems that `&&` is not allowed. And would be better to use `and` instead.
Version of ansible is 2.4.4.0

[2018-04-13 19:49] alessfg commented on #20
Good catch @snikiforov4 - I'll fix it asap.

[2018-04-13 20:06] alessfg commented on #20
Fixed in #21 😄

[2018-04-13 20:06] #20 closed

[2018-04-16 22:02] alessfg opened #23 "Ansible role fails when trying to upload an NGINX configuration file"
Two different variables, main_push_enable and main_upload_enable, are used throughout the role interchangeably. This leads to an error when trying to run a playbook that uploads an NGINX configuration file.
[code]

[2018-04-16 22:40] #23 closed

[2018-04-18 13:42] langnix opened #30 "Syntax error on tasks/conf/template-config.yml"
There is a syntax-error in template-config.yml in the conditions:
`when: default_exists.stat.exists && main_template_enable`

when running with:
[code]
this bounces with
[code]

To fix: replace the '&&' with 'and'

[2018-04-18 20:07] alessfg commented on #30
Hi @langnix! If I am not mistaken this issue was already reported in #20 and fixed in #21. Can you test the latest version of the role and check if it works?

[2018-04-19 16:07] langnix commented on #30
Hi Alessandro, your absolutely right.. It's already fixed. Sadly the fix is not yet available on the galaxy (v0.2).😢

[2018-04-19 16:08] #30 closed

[2018-04-19 20:47] alessfg commented on #30
Pushed a new release (v.0.3). You should now be able to see the changes reflected on Galaxy!

[2018-04-26 21:42] alessfg opened #31 "Implement FreeBSD support for NGINX Open Source"

[2018-05-05 20:40] Bitblade opened #32 "Allow selection of apt repository"
Unfortunately, the official Nginx repository only provides the most common architectures. Armhf, for example, is not supported.

Suggest using a variable with default value, instead of hardcoded url. This would also make it easier to use local/inhouse mirrors.

[2018-05-11 22:48] alessfg commented on #32
Hi @Bitblade - can you have a look at https://github.com/nginxinc/ansible-role-nginx/pull/34 and let me know if this is what you had in mind?

[2018-06-13 19:37] Am1rr3zA opened #35 "ERROR! the role 'ansible-role-nginx' was not found in"
I have follow this https://www.nginx.com/blog/announcing-unified-ansible-role-nginx-nginx-plus/ to install ngnix on my EC2 instances, but when I want to create my AMI I am getiing this error

this is my yaml file:
[code]

[code]

and if I change `ansible-role-nginx` to `nginxinc.nginx ` which gice me this yaml file

[code]

first, it asks me to install ` nickdtodd.system-limits` with ansible-galax

[2018-06-15 18:13] alessfg commented on #35
Hi @Am1rr3zA!

Few comments:
1. As you have already figure out - if you download the role from Ansible Galaxy you will need to use `nginxinc.nginx` instead of `ansible-role-nginx`.
2. `nickdtodd.system-limits` is not a requirement for the NGINX Ansible role - perhaps it's a `datatog` or `gatling` dependency?
3. It looks as if the error you are getting has to do with missing the `dirmngr` package.

[2018-06-18 22:41] IRobL opened #36 "configuring nginx to be state 'running'"
I've gone up and down the configurations and roles, and I don't see a way of enforcing that the service actually be running.  Is there a way to configure this without writing a custom `systemd` task to enforce that the service be switched on if it's ever switched off?

[2018-06-18 23:08] alessfg commented on #36
Hi @IRobL!

In Ansible, handlers are responsible for ensuring that NGINX will be running once the role is deployed (you can find these role's handlers [here](https://github.com/nginxinc/ansible-role-nginx/blob/master/handlers/main.yml)). However, Ansible uses a push model - this means that there's no simple way to ensure that NGINX is restarted if it's ever switched off. There are a couple alterna

[2018-06-19 13:40] IRobL commented on #36
Ty for the prompt clarification!

[2018-06-19 13:40] #36 closed

[2018-06-19 18:03] Am1rr3zA commented on #35
so you saying ansible-role-nginx depends on dirmngr?

[2018-06-19 18:59] alessfg commented on #35
In my testing I have found that to be the case if you are using Debian Stretch. Otherwise the role should install without any issues.

[2018-07-06 03:22] georgyberdyshev opened #38 "Apt key retrieval error in firewalled environment - PR attached"
Hello @alessfg,

when using the example playbook in a firewalled environment an apt key retrieval error occurs.
This is due to hkp defaulting to port 11371

PR attached in #39

Both, the control machine and managed node run Ubuntu 18.04.
Using ansible 2.6.1 and ansible-role-nginx v0.5

**Ansible Playbook:**
[code]

**Error:**
[code]

**Solution:**
Updating the key server allows to bypass the firew

[2018-07-06 20:32] alessfg commented on #38
Nice catch @georgyberdyshev! Do you think you could differentiate between older/newer Debian/Ubuntu releases and use `hkps` instead of `hkp` when possible?

[2018-07-06 22:48] georgyberdyshev commented on #38
Hello @alessfg,

I have updated my PR to use hkps by default and fallback to hkp on Debian jessie and Ubuntu trusty, xenial.

Thanks, Georgy

[2018-07-06 23:02] georgyberdyshev commented on #38
@alessfg all build jobs, for the updated PR, passed on Travis CI.

[2018-07-09 16:36] #38 closed

[2018-07-09 16:36] alessfg commented on #38
@georgyberdyshev merged!

[2018-07-10 16:11] georgyberdyshev commented on #38
@alessfg Thanks!

[2018-08-01 22:28] sseide opened #44 "Dependency missing on debian - installation fails"
One debian (tested with minimal debian stretch) this role must enshure the package "apt-transport-https" is installed. You are on the safe side if you require this on every debian and ubuntu version as older ones have not installed this. Without this package fetching files from your nginx_repository will fail.

[2018-08-01 22:34] sseide opened #45 "Adding nginx repository on debian is missing cache refresh"
During your installation on Debian and Ubuntu you just add the new apt-key for your repository and registers the urls for them. Afterwards the package nginx will be installed.

Because no "apt update" was performed (ansible module "apt" with attribute "update_cache=yes") prior installing the package the installation fails.

[2018-08-01 22:41] sseide opened #46 "Module names are wrong on Debian/Ubuntu"
The geoip modules is not named "nginx-geoip-perl" as stated in your install-geoip.yml file.
The name is either nginx-module-geoip (using nginx_repository) or libnginx-mod-http-geoip (using os_repository)

[2018-08-01 22:44] sseide opened #47 "Please state that this role is in alpha state in README"
Please add the current state of the role at the head of your README file
to let people know the development just started and it is not usable right now.

When it is finished and working the warning can be removed, but currently you can save a lot of people a lot of time with a short warning ahead...

[2018-08-01 22:59] alessfg commented on #44
Hi there!

Creating a task to install pre-required packages is on the list -- as is creating a task to check that the role supports the target deployment distro. I'll leave this issue open until then. Have you found any other packages in addition to `apt-transport-https` and `dirmngr` that need to be preinstalled?

Thanks,
Alessandro.

[2018-08-01 23:01] sseide commented on #44
not up to the state i tried and wrote tickets for...

[2018-08-01 23:11] alessfg commented on #45
Hi there!

Can you provide some more information on where exactly this happens and what you are trying to install (open source NGINX, NGINX Plus, NGINX Amplify, NGINX Unit)?

In most cases the `apt-key.yml` task is followed by a `setup-debian.yml` task that executes the `apt_repository` module, which by default should update the `apt` cache.

[2018-08-01 23:17] sseide commented on #45
Target: debian jessie
Host debian stretch with ansible 2.6.2

First tried to install opensource from os_repository which failed on geoip module (other ticket)
Than i switched to opensource from nginx_repository. there i got the error with missing "apt-transport-https".
After installing transport manually rerun it - now error with signatures of the nginx provided packages. After running aptitude up

[2018-08-01 23:18] alessfg commented on #46
Well that totally flew over my radar, will fix asap!

[2018-08-01 23:26] sseide opened #48 "Specifying only some modules defaults shall be used for others"
forgot the following...

The readme defines some modules i may enable on installation. Specifying not all modules triggers an "dict has no attribute X" error as there is no safeguard to default all values not set.

Sample playbook - false shall be default for all other modules as stated in readme.
[code]

output:

[code]

[2018-08-01 23:27] alessfg commented on #47
I wouldn't say the role is not usable -- it's been working pretty well for quite a few people! Nonetheless it is true that the role is still in active development, and the more people use it and report bugs/issues the better it will get!

That being said I have been tagging the releases as pre-releases but on hindsight that is definitely not enough. I'll add a comment to the README 😄

[2018-08-01 23:29] sseide commented on #47
Thanks - seems i triggered the most unhappy path of all...  :-)

[2018-08-01 23:31] alessfg commented on #48
Similarly to #44, this is a known issue. I plan to eventually refactor module variables to prevent this from happening -- I'll add comment to the README and `defaults/main.yml` until then.

[2018-08-01 23:34] alessfg commented on #45
I think that may have been what happened? I have Travis tests for Debian Jessie and open source NGINX installs without any issues.

[2018-08-01 23:47] sseide commented on #45
Loooking back through my terminal output history it seems it is directly related to the missing apt-transport-https error.

The "apt-key" was added, the repository too and "apt-repository" doing the cache refresh it errored out with https support missing. Manually installing the transport triggered no refresh. And next ansible run did not reregister the repository - just skipped this step - theref

[2018-08-01 23:47] #45 closed

[2018-08-02 23:05] #47 closed

[2018-08-03 18:23] #46 closed

[2018-08-03 18:23] #44 closed

[2018-08-03 18:26] alessfg commented on #48
Fixed in #49

[2018-08-03 18:26] #48 closed

[2018-08-06 12:34] Uhanga88 commented on #7
Hi there!
Guys, could you please provide any updates regarding the variables using in nginx.conf and templates of http blocks?  Will it be possible to use j2 templates for generating virtual hosts in the next releases?

Thanks in advance!

[2018-08-06 18:56] alessfg commented on #35
Dependency fixed in #50

[2018-08-06 18:56] #35 closed

[2018-08-06 19:01] alessfg commented on #7
@Uhanga88 support for virtual hosts is still on the roadmap but I cannot provide an ETA.  Re `nginx.conf` templating are there any extra specific variables that you'd like to see included in the [`nginx.conf.j2`](https://github.com/nginxinc/ansible-role-nginx/blob/master/templates/nginx.conf.j2) template?

[2018-08-06 20:33] sseide commented on #7
For the time until all this variables are implemented it would be really helpful to have role variables specifying my own template to use instead of the one provided by the role iteself. Currently (as far as i understand) it is only possible to push my own configuration files via copy - there are no modifications possible anymore at this point and i have to somehow create them locally as needed as

[2018-08-06 20:34] sseide commented on #48
thanks for all fixes...

[2018-08-09 16:12] p-baum opened #51 "Seems to rely on python2"
Python2 is not installed by default on Ubuntu 18.04 and I'm not installing it to run this.

[2018-08-09 18:05] p-baum commented on #51
ok, its ansible that wants python 2. found this in the docs:

you may see an error like:

"module_stdout": "/bin/sh: /usr/bin/python: No such file or directory\r\n"

you can either set the ansible_python_interpreter inventory variable (see Working with Inventory) to point at your interpreter or you can install a Python 2 interpreter for modules to use. You will still need to set ansible_python_int

[2018-08-09 18:09] #51 closed

[2018-08-15 12:35] AlekseiSidorenko opened #54 "Absence of the handler for service enabling"
Hello Colleagues,

I didn't figure out the opportunity to enable nginx service by the role. I can't find it in handlers and tasks, so   in my case, I implemented the service enabling with post_tasks directive in my playbook.
Maybe I just miss something?

Is it OK if I will prepare a pull request with this opportunity?

[2018-08-16 01:34] alessfg commented on #54
Hi @AlekseiSidorenko! There is no variable per se to start/enable the NGINX service, but there is a handler to start the NGINX service here https://github.com/nginxinc/ansible-role-nginx/blob/master/handlers/main.yml#L2-L5. Is this by any chance what you meant? If not feel free to submit a PR!

[2018-08-16 10:47] AlekseiSidorenko commented on #54
Hi Alessandro!

I meant the adding nginx service to auto start.
In my case, I use your role during the baking AWS AMI. So when I'm starting the EC2 instance from this AMI, the nginx service is in stopped state.

Thank You!
I'll submit a PR with handler for service enabling.

[2018-08-21 08:31] AlekseiSidorenko commented on #54
Hi @alessfg !
I've prepared short PR according to this discussion:
https://github.com/nginxinc/ansible-role-nginx/pull/55/files

[2018-08-21 17:30] alessfg commented on #54
Merged!

[2018-08-21 17:30] #54 closed

[2018-08-24 07:53] replicajune opened #57 "variables names are not explicitly targeting nginx role"
Hi,

I was looking for a role to install nginx and came across yours.

I don't think it's currently usable in a production setup as variables names are too much generic. For example nothing tell me that `type`, `branch` or `module` would not overlap with another variable for another purpose.

I would like to propose a standardisation for all variables used by this role to begin with `nginx_`, maki

[2018-09-05 20:43] efreedom79 opened #58 "When installing role on Amazon Linux Server I get an error"
TASK [nginxinc.nginx : (Install: Debian/Ubuntu/CentOS/RedHat) Install NGINX] ***
fatal: [10.10.26.238]: FAILED! => {"changed": false, "msg": "Failure talking to yum: failure: repodata/repomd.xml from nginx: [Errno 256] No more mirrors to try.\nhttps://nginx.org/packages/mainline/centos/0/x86_64/repodata/repomd.xml: [Errno 14] HTTPS Error 404 - Not Found"}
        to retry, use: --limit @/home/ec2-

[2018-09-06 20:18] alessfg commented on #58
Correct me if I am mistaken, but it looks like you are trying to install the open source version of NGINX on Amazon Linux? If that's the case, open source NGINX does not support Amazon Linux. You may be able to get around it by installing the centos/rhel packages (as you found out), but we do not offer support for that distro.

[2018-09-06 20:19] alessfg commented on #57
Good suggestion @replicajune! I'll add it to the backlog 😄

[2018-09-15 06:42] #57 closed

[2018-09-17 14:00] vavra5 opened #62 "ERROR! 'Name' is not a valid attribute for a Task"
Release Tag: 0.7.1
Ansible version: 2.8.0

I see this is fixed in the most recent commit, but I'm receiving this error when I specify this tag for ansible-galaxy.

[code]

[2018-09-17 17:45] alessfg commented on #62
@vavra5 this should be fixed in the newest release!

[2018-09-17 17:49] #62 closed

[2018-09-18 08:43] hhenkel opened #63 "Unable to download rpm signing key in corporate environment"
Hi,
it is rather common in corporate environments, that servers are not able to connect to the internet. With the current playbook it is not possible to select a different location where one could fetch the rpm signing key.

If the issue is accepted I can provide a PR.

Kind regards,

Henning

[2018-09-18 20:04] alessfg commented on #63
Hey @hhenkel that'd be a useful enhancement for the role! Feel free to submit a PR 😄

[2018-09-26 20:17] aellert opened #64 "Don't enable nginx repository if install_from: os_repository"
If you choose install_from: os_repository, /etc/yum.repos.d/nginx.repo is still deployed.
So next time you do a 'yum update', the native nginx package is replaced by nginx offical RPM.

[2018-09-26 21:39] alessfg commented on #64
Thanks for submitting the issue! I've done some testing on my end and there seems to be a few issues when using `install_from: os_repository`. However none of the issues I seem to find are related to your issue specifically. Could you share some more details like your target deployment distro and the playbook you are using to deploy the role?

[2018-09-27 09:02] aellert commented on #64
Hi Alessandro,

I use Centos 7 and here is my playbook :

Result : The /etc/yum.repos.d/nginx.repo is created. Inside this file there
is a line "enabled=1".
Expected result : The /etc/yum.repos.d/nginx.repo is not created, removed
if present OR "enabled=0" is this file.

Thank you for your help.

Le mer. 26 sept. 2018 à 23:40, Alessandro Fael Garcia <
notifications@github.com> a écrit :

[2018-09-30 20:52] juanjoDiaz opened #65 "Installing NGINX with modules"
In the documentation, the following modules are mentioned: njs,perl, waf, geoip, image_filter, rtmp and xslt

Unfortunately, I need the `ngx_http_auth_request_module`.
In the past, I've used the RPM `nginx-all-modules.noarch` package.

Could I achieve what I need using this role?
If not, is it in the roadmap to add the extra modules?

[2018-10-03 04:05] alessfg commented on #65
Hi @juanjoDiaz! The `ngx_http_auth_request_module` is compiled by default in the NGINX package that this role installs. The additional module options included are the dynamic NGINX modules found here https://www.nginx.com/products/nginx/modules/. If the role doesn't work for you or you find some issues when trying to use some of the features from the `ngx_http_auth_request_module` please feel free

[2018-10-03 04:05] #65 closed

[2018-10-03 04:06] alessfg commented on #64
Thanks for the info! One more question - did you install the EPEL repository before running the role?

[2018-10-03 04:11] alessfg commented on #7
Quick update - more advanced main/http templating options are almost done and ready to be released. The way templates work has been slightly reworked and should hopefully provide further flexibility on how to approach templating.

[2018-10-03 13:29] aellert commented on #64
Yes epel-release-7-11.noarch was installed before running the playbook.

Le mer. 3 oct. 2018 à 06:06, Alessandro Fael Garcia <
notifications@github.com> a écrit :

[2018-10-16 21:13] alessfg commented on #64
Hey again @aellert! I've tested the setup you described and I cannot seem to replicate it. If I choose install from `os_repository` then `nginx.repo` does not get created. Did you perhaps run the role first without choosing `os_repository` and then changed the value of `nginx_install_from`?

[2018-10-18 06:38] gusttt opened #68 "Only install repo keys when installing from nginx_repository"
When `nginx_install_from: os_repository` is used, the nginx signing apt or rpm key is still installed.
It is  not needed to install the trust when the `nginx` package is installed from the OS package manager.

 #### Reproduce in Debian:
[code]
[code]

[code]

[2018-10-18 20:57] #68 closed

[2018-11-23 07:30] bigstinky86 opened #73 "AnsibleUndefinedVariable: dict object has no attribute html_file_location"
Hi,

I tried to run nginx role and it got failed on "(Setup: All NGINX) Dynamically Generate NGINX HTTP Configuration Files" task. I use example below from readme.

[code]

But got an error AnsibleUndefinedVariable: dict object has no attribute html_file_location.

[code]

[2018-11-23 07:36] bigstinky86 commented on #73
I use 0.9.0 role version

[2018-11-23 07:50] bigstinky86 commented on #73
I use 0.9.0 role version
ansible 2.7.2

[2018-11-23 09:36] bigstinky86 commented on #73
When execute role with parameters like below, then it passes without error

`hosts: localhost
become: true
roles:
    - ansible-role-nginx
vars:
    nginx_http_template_enable: true
    nginx_http_template:
      default:
        template_file: http/default.conf.j2
        conf_file_name: default.conf
        conf_file_location: /etc/nginx/conf.d/
        port: 80
        server_name: localhost

[2018-11-23 11:11] bigstinky86 opened #74 "Install NGINX with autoindex"
Hi,

It would be great to have an opportunity to set autoindex on for locations, servers or http blocks.

Thanks

[2018-11-26 09:47] bigstinky86 commented on #73
Probably something was wrong on my side. It works as expected.

[2018-11-26 18:34] alessfg commented on #74
Thanks for the PR @bigstinky86!

[2018-11-26 19:08] #74 closed

[2018-11-30 09:43] bigstinky86 opened #76 "SSL upload folder configuration"
It is need to add custom ssl certificate and key path to virtual host configuration

[2018-12-04 06:56] bigstinky86 commented on #76
#78 merged. Closing.

[2018-12-04 06:56] #76 closed

[2018-12-22 00:07] evilhamsterman opened #83 "SSL upload should support certificates and keys content"
The SSL upload feature should support uploading content rather than just files. Sensitive data such as SSL keys should be stored in a secure method such as ansible-vault rather than as files.

[2019-01-09 11:57] alessfg commented on #63
Hi @hhenkel - the ability to select different locations for rpm/apt signing keys has been implemented in #84! Closing this issue for now.

[2019-01-09 11:57] #63 closed

[2019-01-09 11:58] alessfg commented on #83
Would you like to submit a PR @evilhamsterman?

[2019-01-09 17:46] evilhamsterman commented on #83
I may look at it in a bit, the other PRs I did were really quick this one
will take some more time.

On Wed, Jan 9, 2019 at 3:58 AM Alessandro Fael Garcia <
notifications@github.com> wrote:

[2019-01-09 23:12] evilhamsterman commented on #83
I would add it to your backlog, if I get a chance I'll create a PR but don't count on it.

[2019-01-14 15:15] MaffooBristol commented on #73
I don't know what could've been the problem because you've not formatted your yml code, can you put three backticks around the code rather than one please? I'm having a similar error and this could be of use!

[2019-01-14 15:24] alessfg commented on #73
@MaffooBristol can you post your playbook?

[2019-01-14 15:41] alessfg commented on #73
Yup that could be it. And I also noticed an additional issue with the example in the README. I'll fix it asap. Thanks for helping out though! (And apologies you ran into such an unwarranted issue). Hopefully you'll reconsider giving this role another try in a few months when it's more stable!

[2019-01-14 15:41] #73 closed

[2019-01-14 15:43] MaffooBristol commented on #73
Cool 😄

It still wasn't working when I fixed the indentation, but I couldn't really work out why. Is there also a way of doing proxy_pass without having to jump through all the load balancing hoops? Would be nice to see a bare-bones example of the proxy pass stuff

Thanks
Matt

[2019-01-14 15:59] alessfg commented on #73
I have yet to test this, but for your example you could potentially get rid of the upstream group and do something like
[code]
On hindsight I do see how the load_balancer name is not the most descriptive for this particular section. I'll probably rename it to reverse_proxy to make it a little bit clearer what's going on.

[2019-01-15 18:41] ren21 opened #86 "Nginx can't find directories ?"
Hi there!

I'm trying to run this ansible playbook, copied from the galaxy site:
[code]
As you can probably tell, I hardly modified anything other than the server name and the host on which I'm running the playbook. I get this error message though:

`fatal: [ngintest@192.168.1.78]: FAILED! => {"msg": "The task includes an option with an undefined variable. The error was: 'dict object' has no attri

[2019-01-16 14:58] alessfg commented on #86
Hi there @ren21! Let me address your questions one by one.

[code]

As you already figured out, if you download the role from Ansible Galaxy you need to use `nginxinc.nginx` as your role name instead of `ansible-role-nginx`. The README erroneously uses `ansible-role-nginx` in one of the examples.

[code]

`server_name` refers to the NGINX `server_name` directive. You can find details on how to use

[2019-01-16 16:38] evilhamsterman commented on #83
That would probably be a good idea. We use Hasicorp Vault to store and
deploy certificates

On Mon, Jan 14, 2019, 8:03 AM Alessandro Fael Garcia <
notifications@github.com wrote:

[2019-01-16 17:42] ren21 commented on #86
Hi @alessfg Thank you so much, it worked like a charm! :)

One more question, does that part with test/playbooks/ apply to other galaxy roles or ansible modules ? Just asking out of curiosity, because a lot of times when I needed examples for other roles I couldn't find any ...

[2019-01-16 17:57] alessfg commented on #86
Some other roles may have some test playbooks in their repo but I wouldn't necessarily count on it. The `defaults/main.yml` is found way more commonly.

[2019-01-16 20:20] ren21 commented on #86
That's it I guess, thanks for you help again! :)

[2019-01-16 20:20] #86 closed

[2019-01-18 08:21] vinayak03 opened #88 "Plugin Install Fails"
If I set any module install to true script fails.
![image](https://user-images.githubusercontent.com/6999221/51374146-1830bd80-1b28-11e9-8f3b-05938c387e3e.png)

[2019-01-18 12:46] alessfg commented on #88
Thanks for catching that! Can you check PR #89? That should fix your issue 😄

[2019-01-21 11:34] #88 closed

[2019-01-24 16:02] #58 closed

[2019-01-28 20:42] downingar opened #93 "Clean conf.d before deploying new config"
It would be very useful to have the option to delete all present files in the conf.d directory when deploying. Currently if one creates a config, but then changes it (and changes the name of the config file), the old one remains, making it difficult to remove old configs without being convoluted about it or doing so by hand. This would default to false, clearly, so as to retain backwards compatibi

[2019-01-29 13:35] alessfg commented on #93
I agree @downingar. Great idea!

[2019-02-04 15:16] carlba opened #96 "The role failes to get the ip address of the server"
I recommend replacing
[code]
with
[code]
in `templates/www/index.html.j2`

Since the first network interface of a server might not always be called eth0

[2019-02-04 16:16] alessfg commented on #96
This was already fixed in https://github.com/nginxinc/ansible-role-nginx/pull/90/files#diff-1e7638445a4b24f0a275fbe6012296eeR84 and will be available on Ansible Galaxy next release!

[2019-02-04 16:16] #96 closed

[2019-02-05 09:50] carlba commented on #96
Sorry should have checked the previously reported issues!

[2019-02-07 09:51] carlba commented on #7
I have implemented faux vhost support by doing this

[code]

[2019-02-07 09:52] carlba commented on #7
The bad thing with this solution is that the installation phase of the role must be run for every vhost.

[2019-02-07 10:10] carlba commented on #7
it's still takes quite a long time to just skip all the steps though.

[2019-02-07 13:28] alessfg commented on #7
There are some tentative plans to refactor this role into smaller roles with more concise functionalities. One of the smaller roles would be dedicated to templating vs installing NGINX, and should make both roles run faster if you only need the functionality of one of them.

[2019-02-08 16:52] platan opened #98 "Configuring basic authorization (auth_basic)"
I would like to configure [basic authorization](https://docs.nginx.com/nginx/admin-guide/security-controls/configuring-http-basic-authentication/). It seems that currently I need my own [default.conf.j2](https://github.com/nginxinc/ansible-role-nginx/blob/master/templates/http/default.conf.j2) template. And this is what I'm using:
[code]
plus:
[code]
I would like to be able to configure basic auth

[2019-02-08 17:16] alessfg commented on #98
I think it's a great feature to add to this role!

This would be my preferred approach and would be more in accordance with the way the role is structured atm.

[2019-02-08 18:32] evilhamsterman commented on #83
I looked into it and I see what you did it does work with Ansible vault because the copy module can auto decrypt vault encrypted files. However we use Hashicorp Vault to deploy our certificates which requires using a lookup filter to retrieve the content of the certs. Perhaps that is a bit beyond the scope of this module and maybe we should just close this.

[2019-02-12 12:32] #98 closed

[2019-02-13 11:39] adrianovieira opened #101 "Create more than one virtual server"
Thanks by your job doing this ansible role.

Please, how do I setup more than one virtual server?

As a sample example:
[code]

What I tried was (one of them acctualy):
[code]
But this doesn't work.

[2019-02-13 12:25] gdzien commented on #101
Hello,

My name is Grzegorz and I will work with you on solving issue you are facing.
At a first glance it seems that what you are doing should yield expected result, unfortunately I am unable to say what has gone wrong in your case without error message you are getting.

Can you please share messages returned by ansible when trying to use this role?

Sincerely,
Grzegorz Dzień

[2019-02-13 15:58] adrianovieira commented on #101
Hi!

Thank you by helping me.

an inventory sample:
[code]

1. creates unrequested `default.conf`
[code]

2. it doesn't insert a `root` path
[code]

[2019-02-14 11:12] alessfg commented on #101
Hi @adrianovieira!

This is a known issue, right now the role doesn't delete previous existing configuration files (see #93). I'll prioritize adding this feature.

There's no low level `root` parameter. You can set a root path by using the `html_file_location` parameter at https://github.com/nginxinc/ansible-role-nginx/blob/master/defaults/main.yml#L175. However you make a good point that sometime

[2019-02-15 13:59] #101 closed

[2019-02-15 14:51] #93 closed

[2019-02-18 13:25] adrianovieira commented on #101
Hi!

Well done.

Thank you.

PS: it still creates an unrequested `default.conf`

[2019-02-18 13:57] alessfg commented on #101
Are you pulling from Ansible Galaxy? If so these changes won't be reflected until we publish a new release.

[2019-02-28 19:30] downingar opened #108 "Use template for API conf"
It would be useful to be able to switch the template used for the API configuration, for instance restricting what IPs are allowed to access the API. I have a PR to go along with this issue I wasn't sure exactly where to put the API template, so I threw it in the top level of the templates dir.

[2019-03-01 15:17] gdzien commented on #108
Hello,

Thank you for your contribution! We have agreed that your PR looks good, and it is now merged to the role.

Sincerely,
Grzegorz Dzień

[2019-03-01 15:17] #108 closed

[2019-04-03 10:05] trusche opened #115 "Support for try_files"
Hi!

I'm trying to configure the following nginx directive:

[code]

But it seems `try_files` is not supported? I tried this:

[code]

which resulted in an error about undefined variable `html_file_location`. Then I tried

[code]

which simply ignored the `try_files` line in the resulting directive.

Any plans to support this? Or am I missing something else?

[2019-04-03 10:05] trusche opened #116 "Support for try_files"
Hi!

I'm trying to configure the following nginx directive:

[code]

But it seems `try_files` is not supported? I tried this:

[code]

which resulted in an error about undefined variable `html_file_location`. Then I tried

[code]

which simply ignored the `try_files` line in the resulting directive.

Any plans to support this? Or am I missing something else?

[2019-04-03 12:21] magicalyak commented on #116
This is duplicate of https://github.com/nginxinc/ansible-role-nginx/issues/115

[2019-04-03 12:27] trusche commented on #116
Oops, not sure how that got submitted twice.

[2019-04-03 12:27] #116 closed

[2019-04-03 13:23] magicalyak commented on #115
@trusche want to test this? you could either clone my repo or just manually modify the files by looking at the PR changes.

[2019-04-03 16:46] trusche commented on #115
@magicalyak will do, thanks for the quick response!

[2019-04-04 13:48] magicalyak opened #118 "Travis CI is failing on stream template checks"
Placeholder for tom @magicalyak to fix the Travis build (or someone else).  Travis has errors on stream-template for various distributions.

[2019-04-04 13:52] magicalyak commented on #118
From recent PR
 Ruby
version=6 playbook=stream-template distribution=centos

TASK [ansible-role-nginx : (Setup: NGINX Open Source) Enable NGINX Open Source Status] ***
skipping: [localhost] => {"changed": false, "skip_reason": "Conditional result was False"}
TASK [ansible-role-nginx : (Setup: NGINX Plus) Enable NGINX Plus Status] *******
skipping: [localhost] => {"changed": false, "skip_reason": "

[2019-04-04 14:07] magicalyak commented on #118
Something in /etc/nginx/stream/default.conf is reporting duplicate 127.0.0.1 on travis
looks like line 11 so maybe modifying the j2 would fix?

`{% for server in item.value.upstreams[upstream].servers %}
    server {{ item.value.upstreams[upstream].servers[server].address }}:{{ item.value.upstreams[upstream].servers[server].port }} weight={{ item.value.upstreams[upstream].servers[server].weight|de

[2019-04-04 16:02] magicalyak commented on #118
I think I got this with a change to the stream conf.  If it's localhost we want to just have the port for the listen directive
part of
https://github.com/nginxinc/ansible-role-nginx/pull/117

[2019-04-04 16:43] magicalyak commented on #118
This is fixed in the PR above

[2019-04-10 09:44] coreaut opened #120 "support for ngx_http_auth_request_module"
Hi I wan't to configure something like this,

but currently the auth_request module is not supported.

[code]

Do you consider to integrate the support for auth_request?

Other than that, your role is really nice!

[2019-04-11 12:16] magicalyak commented on #120
@coreaut I just pushed a PR but need it tested, I would test this on something where you can handle it not working but it should take in the configuration you specified.
This assumes the module is already in NGINX (Plus has this by default)

[2019-04-11 12:18] #118 closed

[2019-04-11 12:19] magicalyak commented on #115
This is completed and should be closed @alessfg

[2019-04-11 12:23] magicalyak commented on #120
@coreaut hold on a little bit, something isn't right on the template part, will push changes again shortly

[2019-04-11 12:50] magicalyak opened #122 "Custom Config Override"
This in an enhancement/feature request to add an override customer conf that would handle anything fancy that the current template cannot.  These could range from custom module directives to existing ones we haven't implemented yet.  A user would create their own conf and drop it in the files directory where the role would detect it and copy instead of creating a template conf file.

[2019-04-11 13:35] #122 closed

[2019-04-11 13:35] magicalyak commented on #122
already exists

[2019-04-11 14:42] alessfg commented on #115
Support added in #117

[2019-04-11 14:42] #115 closed

[2019-04-11 17:50] magicalyak commented on #120
Ready to test now or merge

[2019-04-28 07:21] lunarthegrey opened #123 "with_fileglob doesn't work without full path"
I've noticed an issue where if you have any of the `*-upload_enable` vars set to `true` it skips the files and doesn't upload them when it contains regex.

For example:

[code]

When I run the playbook with `-vvv` it shows

[code]

Even though there is a .conf file in that directory. When I specify the full path rather than the relative path it works. Example:

`conf/http/*.conf` vs `/home/user/an

[2019-05-02 21:20] magicalyak commented on #120
@alessfg can we close this?

[2019-05-03 10:53] magicalyak opened #124 "Add tag option for controller"
I think it’s possible to add a tag when we add the instance to controller. I plan to submit a pr for this.
1) would like an option to add tag(s) to the controller agent

[2019-05-03 11:01] magicalyak commented on #124
I need to check if the installer supports this.  May be an impossible ask.

[2019-05-05 13:29] #120 closed

[2019-05-14 16:57] alessfg commented on #123
Hi @lunarthegrey!

Sorry for the late reply! I've been trying to replicate your issue but everything seems to be working on my end.

From what I can see, you are installing the role from Ansible Galaxy. If that is the case, and you wish to use `nginx_http_upload_src: conf/http/*.conf` you will have to include the files in `/home/user/.ansible/roles/nginxinc.nginx/files/conf/http`. By default, if y

[2019-05-14 17:25] lunarthegrey commented on #123
Hello @alessfg!

That makes complete sense now. Since tasks are being run from the role's directory. I didn't think of that! Thank you for your help! Since this isn't really the bug/issue I thought it was I'll close this out now.

[2019-05-14 17:25] #123 closed

[2019-05-31 13:05] glauberferreira opened #132 "Is it possible to specify the desired version of nginx?"
I am using this role for managing Ubuntu Bionic machine. When I executed this role for the first time, nginx/1.15.12 was installed by the role. Now, executing the role again (with the new mainline nginx-1.17.0 released), nginx is not being upgraded. Should I upgraded manually, using a `pre_task`?

[2019-05-31 17:09] alessfg commented on #132
Hi @glauberferreira!

Right now there's no way to specify the version of NGINX to be installed, same with upgrading the version of NGINX (to do this you can either manually upgrade NGINX or uninstall NGINX and run the role again).

Adding an option to upgrade NGINX is on the backlog (not so much the option to specify the version of NGINX to be installed), and a PR implementing that option would be

[2019-06-04 01:24] vladp opened #134 "Cannot specify ssl_password_file option"
There are seem to be no way to specify ssl_password_file option in server configuration.

That means that the file containing private key must be un-encrypted.

Is there a workaround (without modifying default templates that come with this role)?

thank you

[2019-06-04 04:01] vladp opened #135 "Some standard modules are not avialable on all supported Platforms"
getting below error
Using ansible 2.8,  Target host is is:  FreeBSD 12.

[code]

I also tried to install nginx with same geoip module on OpenBSD 6.5 -- similar problem module is not found.

[2019-06-04 12:43] alessfg commented on #134
Hi @vladp!

You can upload your own NGINX configuration file using the `nginx_http_upload_*` parameters (https://github.com/nginxinc/ansible-role-nginx/blob/master/defaults/main.yml#L105). You are also more than welcome to submit a PR adding the parameter to the default template 😄

Cheers,
Alessandro.

[2019-06-04 12:52] alessfg commented on #135
Thanks for creating this issue!

I think this is happening because all modules are installed using Ansible's `package` module, but to work with NGINX in FreeBSD you need to use ports and the `portinstall` module.

Let me do some further research. If my initial thoughts are correct it should be a relatively easy fix.

Cheers,
Alessandro.

[2019-06-04 15:03] alessfg commented on #135
So, on FreeBSD, when you install the default `nginx` port you choose which modules to install when running `make`. Doing this in an automated way is not trivial, with the best solution probably being to implement a way to create a build options file at runtime that then gets read when building the `nginx` port.

Alternatively, for now, a workaround would be to manually modify the value at https://

[2019-06-04 15:51] vladp commented on #135
since this role uses nginx packag from your repository, would it be possible get your repository to host all the binaries of plugins for a given os (eg freebsd, openbsd) and then the role would pull out of there?
Meaning that you would have to build it (using the ports tree, as you noted, but then host the resulting packages). This way individual users do not have to build it.

(sorry if I am misu

[2019-06-04 18:13] vladp commented on #134
thank you. will leverage the nginx_http_upload

[2019-06-04 18:13] #134 closed

[2019-06-05 13:41] alessfg commented on #135
In FreeBSD the NGINX open source packages are hosted in the ports collection, and that's something that I do not foresee will change in the foreseeable future. There's some potential fixes, like I mentioned in the previous comment, but it'll take some time before a decision is made about how to best proceed.

[2019-06-06 06:14] vladp commented on #135
ah, ok. I understand now. Basically for FreeBSD (and openBSD) this role, will actually build nginx on the target host.

[2019-06-06 06:26] vladp opened #136 "Cannot find mime.types on FreeBSD (cleanup config task removes all files in specified path)"
Hello,
I cannot seem to find mime.types (referred by main nginx.conf.j2)
when using this role to install on FreeBSD 12.

my role code is:

[code]

[2019-06-06 12:20] alessfg commented on #136
Hi @vladp!

As you may have figured already, the issue is that the default location for `mime.types` is set to `/etc/nginx/mime.types`, but in FreeBSD the location is `/usr/local/etc/nginx/mime.types`. There's an open PR that should fix this issue (#87) and a few other FreeBSD path related issues once merged.

For now the easiest solution/workaround is to manually modify the default template to ch

[2019-06-06 15:28] vladp commented on #136
Thank you Alessandro.
I re-run my FreeBSD tests again (did not openBSD yet) -- and what seems to be happening is the following

a) all of the supporting files (eg mime.types) get correctly installed into the root of the nginx config
(in freeBSD it is /usr/local/etc/nginx )

b) when directive
[code]
is used, the role deletes correctly all configs
But then, it reinstall only the   /usr/local/etc/ngi

[2019-06-06 17:51] vladp commented on #135
Your workaround also helped me to solve:  uknown directive 'stream' error.
That I was getting on FreeBSD 12.

Installing nginx-full on FreeBSD seems to be a requirement overall, because the 'stream' module is also not avialable in 'nginx' standard build (the stream module is assumed to be available in the role -- because it allows to specify `stream_enable`    option)

[2019-06-06 21:45] alessfg commented on #136
That is the intended behaviour at the moment, with ideally the folder to be removed being the `conf.d` file you mentioned. However, you raise a good point that `nginx.conf` should be removed too. I'll leave this open till I have some time to change this.

[2019-06-06 21:48] alessfg commented on #135
Sorry for all the trouble you are running into @vladp. FreeBSD support is still very much in an early development phase, so thanks for bearing with us!

That is a very interesting find indeed too, it may be worth changing the default port to `nginx-full` in that case, at least for the time being.

[2019-06-06 22:32] vladp commented on #136
I believe nginx.conf is removed when clean up path is: `/usr/local/etc/nginx `

My challenge (and may be a mis-understanding) was that once `/usr/local/etc/nginx ` in was removed,
when the role applied second time -- the files such as  `fastcgi_params  koi-utf  koi-win  mime.types` where not re-created (and that was FreeBSD specific, I though)
So second time the role was applied on FreeBSD the con

[2019-06-06 22:38] vladp commented on #135
Thank you, yes -- it seems that doing nginx-full for FreeBSD would solve lots of the module issues.
The trouble for me was that when building nginx-full from Ports, it seems that lots of packages needed to be installed prior to that port to build.

Normally FreeBSD would download recursively the source for packages it needed, but it did not (so first it was missing ImageMagick6, then when installe

[2019-06-07 11:46] alessfg commented on #135
Oh I see. Well, you can always install NGINX from FreeBSD's package repository, but it tends to be a couple versions behind mainline. Nonetheless (#87) also adds the option to choose between a ports or package install. Hopefully that should add more options.

[2019-06-07 11:48] alessfg commented on #136
Yeah I understood as much. The cleanup path should not be your main NGINX path. It should be the path where you contain most/all your non `nginx.conf` files (eg `/usr/local/etc/nginx/conf.d`). I'll add some more documentation to the README. Hopefully that helps!

[2019-06-08 18:12] shokinn opened #137 "If catch-all ("_") is used as server_name and https_redirect is on nginx redirects to "_""
If you want to have a catch-all server for http to redirect it to https it's currently not possible to do that because the following config is generated:
[code]

The generated config should look like the following:
[code]

These are my ansible variables:
[code]

[2019-06-10 18:54] shokinn opened #139 "Websockets part in http template is missing."
Hey there,
is there a reason why the websockets configuration part which was added in 8db44bf97905bb100d69123d3e1c205bc8ea3661 was removed in 783d29639cce0a931589e67a1e2cb938b74dd1ef?

The option for the websocket configuration part is still shown in the README.md and also configured in the defaults/main.yml.

If it was a mistake that it is gone, should I file a PR to get it back to the template?

[2019-06-10 19:04] alessfg commented on #139
It was definitely a mistake that somehow slipped through code review 😕

Please file a PR!

[2019-06-11 09:37] shokinn commented on #137
Solved.
PR is merged.
Thanks!

[2019-06-11 09:37] #137 closed

[2019-06-11 20:08] shokinn opened #146 "IPv6 listener missing"
Hey there,
there is no IPv6 listener like `listen [::]:443 ipv6only=on ssl;` is this behavior expected or is this a bug?
If yes should we add the IPv6 listen directives and make both IPv4 and IPv6 configurable to switch them on or off independently?

I also like to know if it could be a good idea to make the listen options like `ssl`, `ipv6only=on` or `http2` configurable.

[code]

[2019-06-11 21:15] alessfg commented on #146
New directives/templating options have been added as feature requests for the most part. IPv6 support hasn't come up till now 😄

Re listen options -- the `ssl` option is already implemented, but it would definitely be a good idea to implement support for as many other listen options as possible. #85 did some work on adding parameters to the listen directive but that PR sadly never went anywhere.

[2019-06-19 20:18] yodatak opened #151 "Support of Debian Buster 10"
Debian Buster will go out on soon , it could be could to support it now ?

When did the support of Buster will be ready ?

[2019-06-23 14:10] bogomips opened #152 "access_log - error_log per vhost"
Hello,
it seems like access_log and error_log are not in the template,
Is there an official way to customize those parameters per each vhost?

Thanks

[2019-06-23 14:36] bogomips commented on #152
If this can help someone, I ended up with changing the template like this
[code]
 my_host:
            template_file: http/default.conf.j2
            conf_file_name: my_host.my_domain.tld.conf
            conf_file_location: /etc/nginx/conf.d/
            port: 82
            server_name: my_host.my_domain.tld
            error_page: /usr/share/nginx/html
            autoindex: false

[2019-06-24 14:31] xTrekStorex opened #153 "HTTPS redirect and multiple server names"
When one sets multiple server names such as `mysite.dom 123.123.123.123` and uses `https_redirect: true` the template generates a broken config:

[code]

According to the template code https://github.com/nginxinc/ansible-role-nginx/blob/155c13c14058b3f86ca943882554af6c2240d1ab/templates/http/default.conf.j2#L91 it only uses `$host` when `_` is used for the server name. However in my experience usi

[2019-06-24 19:41] alessfg commented on #151
Hi @yodatak!

We'll add support for Debian Buster as soon as there's prebuilt NGINX packages for it 😄

Cheers,
Alessandro.

[2019-06-24 22:43] alessfg commented on #152
Hi @bogomips!

`access_log` and `error_log` can be found on `templates/nginx.conf.j2`. However, they are not customizable at the moment. I'll start work on a PR to add it to the templating options.

Cheers,
Alessandro.

[2019-06-25 00:02] alessfg commented on #153
Thanks for creating/catching this issue @xTrekStorex!

Re your suggestions, always using `$host` by default can become a limiting factor in more advanced configurations. However, you are right that using `server_name` is not necessarily the best way to make redirects work correctly, especially for use cases with multiple server names. I'm thinking of two different approaches.

**Approach 1:** Only

[2019-06-25 06:57] xTrekStorex commented on #153
While I always prefer shorter configurations and thus also short plays, I think having the redirect target as a variable is worth adding the extra line.

I personally would be fine with configuring it indirectly by changing the order of my server names as required or even adding a name in front that would never reach the server as a request (local IP ranges etc.), but a variable would be cleaner a

[2019-06-28 08:10] xTrekStorex opened #155 "Missing settings/vars that are rather critical"
I know this role is still in development but just to provide a quick overview of settings/vars that are still missing and rather critical at least for most of our deployments:
- client_max_body_size
- ~proxy_buffering~
- proxy_redirect
- proxy_send_timeout
- send_timeout

not critical but nice to have:

- ~ssl_prefer_server_ciphers~

[2019-06-28 08:12] xTrekStorex commented on #155
Just noticed there already are PRs for

- proxy_buffering
- ssl_prefer_server_ciphers

[2019-06-28 08:54] shokinn commented on #153
How about to use the current behavior if the variable is not defined like in Approach 2 from @alessfg suggested?
In the code it would be just an if more.

[2019-06-29 20:09] alessfg commented on #155
Thanks for the feedback @xTrekStorex!

[2019-07-10 12:40] sangdrax8 commented on #146
I could also use the ability to add http2 listen option.

[2019-07-10 16:23] sangdrax8 commented on #155
Unless I missed it in another ticket, I am also missing

- proxy_buffers
- proxy_buffer_size
- gzip (appears commented out in the default config)
- proxy_read_timeout

Would it not make sense to perhaps have a "additional options" dictionary that could accept any key/value pair and add them to the config?  At least it would allow usage of this module in places that require one of these before a pu

[2019-07-10 19:05] xTrekStorex commented on #155
proxy_read_timeout exists already
https://github.com/nginxinc/ansible-role-nginx/blob/155c13c14058b3f86ca943882554af6c2240d1ab/defaults/main.yml#L282

the rest is indeed missing

[2019-07-12 13:09] alessfg commented on #155
I agree that implementing some sort of "additional options" dictionary would help, although I am not entirely sure what the best way to implement it would be.

Right now I am thinking the best way would probably be to have to be a dictionary at each context level (think `http`, `stream`, `location`, etc...) for the dictionary to cover all use cases.

[2019-07-12 13:32] magicalyak opened #159 "Controller API Key - Conditional Check Failed"
When using the controller options in a yaml file, the ansible-playbook run fails with a conditional check and can't run the agent install repository

Error is below:
[code]

playbook
[code]

[2019-07-22 11:18] atruskie commented on #155
An array of dicts (array of key-value pairs) might be more useful; it would allow for repeated lines.

An example from the docs:
[code]

Would be:

[code]

[2019-07-22 16:09] alessfg commented on #155
That's what I had in mind @atruskie 😄 -- hoping to have time to work on this sometime soon.

[2019-07-29 16:10] magicalyak commented on #159
It's interesting, it looks like it adds the repo and then thinks the controller agent is already installed.  However, the agent isn't so this is why it fails.  I've reproduced the error but am checking for any inconsistencies on my OS (centos7) I am going to try to reproduce with ubunu

[2019-07-29 16:36] magicalyak commented on #159
You can close this, the issue was a combination of selinux and a config error on the nginx-plus side.  if we could run a nginx -t before and error out that might be helpful but not necessary to keep the role slim

[2019-07-29 17:40] #159 closed

[2019-07-29 17:41] alessfg commented on #146
Support for various listen directives has been added in #147!

[2019-07-29 17:41] #146 closed

[2019-07-29 17:43] alessfg commented on #139
This issue was fixed by #140. Thanks @shokinn for your contributions!

[2019-07-29 17:43] #139 closed

[2019-08-07 20:16] #151 closed

[2019-08-19 08:49] bew commented on #155
Hello, I'm missing the worker related settings in `nginx.conf`, especially `worker_rlimit_nofile`.
I'll open a PR with this one if you don't mind

[2019-09-07 11:09] alexsegura opened #165 "Missing defaults for nginx_main_template.*"
If you want to change only the NGINX user, while keeping defaults for other vars, you still have to define all the vars under `nginx_main_template` dict.

With those vars:
[code]

It causes the following error:

[code]

We should be allowed to define only some vars, and keep defaults for the other ones.

[2019-09-10 20:28] alessfg commented on #165
Totally agree @alexsegura. The option to define single parameters is on the backlog. Development on the role has been a little bit slower than I'd like lately but things should start to pick up again in the next couple months. That being said, feel free to submit a PR if you wish 😄

[2019-09-11 07:54] alexsegura commented on #165
Thank you for your message.
Yes, I can contribute a pull request 🙂

The problem I see here and there in this role, is that the defaults are hardcoded.
So if defaults change, you have to remember to change them both in `defaults/main.yml`, and in templates.

https://github.com/nginxinc/ansible-role-nginx/blob/a92d424bdb5dc51b143c702754bed761e919a576/tasks/conf/upload-config.yml#L8-L14

I suppose it

[2019-09-18 19:06] amolkhanorkar opened #166 "error while running playbook on amazon-2 linux"
"msg": "Failure talking to yum: failure: repodata/repomd.xml from nginx: [Errno 256] No more mirrors to try.\nhttps://nginx.org/packages/mainline/centos/2/x86_64/repodata/repomd.xml: [Errno 14] HTTPS Error 404 - Not Found"

Please help me solving this issue

[2019-09-19 20:16] alessfg commented on #166
Hi @amolkhanorkar - Amazon Linux 2 is not a supported platform for NGINX Open Source. Sorry about that.

[2019-09-19 20:16] #166 closed

[2019-09-19 20:24] alessfg commented on #165
@alexsegura I don't know of a great way to accomplish this behaviour. Ideally, you'd want a setup where the role can deploy a useful configuration without using any of the values in `defaults/main.yml`.

The main thought that pops to mind would be using `vars/main.yml` to hardcode some of the default values and then do something like `| default(var_main_upload_src)`, but I am not sure that that's

[2019-09-20 10:39] magicalyak commented on #124
This is supported, they can be added in the agent.conf like this (since 1.0.0)

[tags]
tags = foo,bar,foo:bar

[2019-09-20 10:44] magicalyak commented on #153
I can test if this would work for now (should use first item)
{{ item.value.server_name | first }}
I don't know if that would fail on a single list but could test this out.

[2019-09-26 00:43] Karunamon opened #168 "listen syntax unusable in galaxy release, but in examples"
I was reading through the examples here while creating my own config, and I see a lot of references to a `port:` variable as a direct child of `nginx_http_template`_ (as opposed to `listen:`). However, this does not appear to work as of the latest git commit 3b0e39f8709173db5bc64f35060894490001e14b, to be replaced with listen blocks.

This led to some mind-bending troubleshooting before I figured

[2019-10-02 17:29] #152 closed

[2019-10-04 20:50] evilhamsterman commented on #165
Probably the only way to do it is in the template itself with the default filter.

[2019-10-04 23:11] alessfg commented on #165
Right, that is a good solution for template related parameters (and if you look at the template files the default filter is already used in a couple places). And admittedly that would address the original issue. It would be a pretty time consuming task but it's doable.

However, the question remains about what's the best approach for non template related variables, and moreso, is there a best appr

[2019-10-05 05:14] alexsegura commented on #165
From what I see here and there, the best approach for defaults is to avoid using dicts, e.g

[code]

instead of

[code]

[2019-10-05 06:51] tmvcode opened #170 "nginx_http_upload_src doesn't work with relative path"
Hi @lunarthegrey!

Sorry for the late reply! I've been trying to replicate your issue but everything seems to be working on my end.

From what I can see, you are installing the role from Ansible Galaxy. If that is the case, and you wish to use `nginx_http_upload_src: conf/http/*.conf` you will have to include the files in `/home/user/.ansible/roles/nginxinc.nginx/files/conf/http`. By default, if y

[2019-10-05 07:03] tiepvo commented on #170
Hi Alessandro,

As you can see, the configuration for nginx_http_upload_src and nginx_stream_upload_src operates differently but declared similarly which makes it confusing.  The workaround is to declared nginx_stream_upload_src using absolute path.

[//]: # Upload HTTP NGINX configuration files.
nginx_http_upload_enable: true
nginx_http_upload_src: ./conf/http/*.conf
nginx_http_upload_dest: /etc/

[2019-10-05 22:14] alessfg commented on #165
That would partially address the issue, and initially that was how the role was structured. But when I started to introduce more complex templating options (e.g. multiple location blocks), dictionaries and lists started to make more sense.

[2019-10-05 22:25] alessfg commented on #170
Can you provide some more information @tmvcode? It'd be helpful to see your playbook and full `playbook.yml`, and where is the NGINX role installed? For what is worth, both `nginx_http_upload_src` and `nginx_stream_upload_src` operate exactly the same way (you can see the code at https://github.com/nginxinc/ansible-role-nginx/blob/0.12.0/tasks/conf/upload-config.yml#L16-L44).

[2019-10-07 18:02] tmvcode commented on #170
[code]

[2019-10-17 11:23] cilq commented on #165
Or you could use separate dictionaries for default and user configuration and merge them with the `combine` filter. I've been using a role to deploy airflow where this method is used:
`airflow_config: "{{ airflow_defaults_config | combine(airflow_user_config, recursive=True) }}"`
I guess this would also remove the need to have hardcoded defaults in the templates?

The role I am referring to can be

[2019-10-17 15:56] JeGoi opened #173 "server_tokens"
Hello,
Is `server_tokens` option will be added?
Thanks
Regards

[2019-10-17 16:54] alessfg commented on #165
Hm, that is an interesting approach, and I can see it working. Maybe it'd be worth to create a small PoC with one of the smaller dictionaries (I'm thinking of the `main` or `stream` templates) to see how good it'd work in practice.

[2019-10-17 16:56] alessfg commented on #173
It can definitively be added. However, there's other tasks that have a higher priority at the moment so I would suggest submitting a PR if you want it to be available as soon as possible.

[2019-10-17 17:14] alessfg commented on #170
Do you still get the same error if you run the playbooks from inside the `nginx` folder (`ansible-playbook -vvv -i hosts playbook.yml`)?

[2019-10-17 18:17] cilq commented on #165
I already tried this for the main template and it was working as expected. However, because I went the path of least effort I merged two dictionaries `nginx_default_main_template` from defaults and `nginx_user_main_template` from the users playbook into `nginx_main_template`.
This would introduce a breaking change so I will refactor the role to use the merged dictionary under a new name and submit

[2019-10-17 19:25] alessfg commented on #165
No, not really.  On hindsight I think it may improve readability to have a key for each HTTP template you define, but I am not opposed to changing it to a list if it makes things easier.

[2019-10-18 18:49] tmvcode commented on #170
Yes, same error if I run the playbook inside the nginx folder.  In order to run inside the nginx folder, I placed the roles folder under the nginx folder.  The result is the same, it looked for the wrong file the role folder.

[code]

[2019-10-18 18:58] tmvcode commented on #170
[nginx.tar.gz](https://github.com/nginxinc/ansible-role-nginx/files/3745316/nginx.tar.gz)

I uploaded my the nginx folder for you to replicate.

[2019-10-18 19:53] alessfg commented on #170
Thanks for sharing your config! I've identified the issue 😄

Namely, when you use a relative path, the first path that Ansible searches is the roles' file path. In this case, there's a pre-existing `files/conf/http` path (which also happens to be the recommended location for any HTTP configuration files you may want to upload -- although that's only a recommendation :p). What this means is that An

[2019-10-20 03:17] tmvcode commented on #170
Great job @allesfg!  I was able to confirm your resolution.  Thank you for your finding.

[2019-10-20 03:17] #170 closed

[2019-10-25 09:17] alessfg commented on #173
Added in #175 😄

[2019-11-06 20:43] shanep2300 opened #178 "Creating custom conf file is confusing..."
I'm confused on how to create a main template configuration.

Running into this error:

``fatal: [default]: FAILED! => {"changed": false, "cmd": ["nginx", "-T"], "delta": "0:00:00.011440", "end": "2019-11-06 20:13:01.886018", "msg": "non-zero return code", "rc": 1, "start": "2019-11-06 20:13:01.874578", "stderr": "nginx: [emerg] duplicate location \"/\" in /etc/nginx/conf.d/default_dynamic.conf:22

[2019-11-09 11:34] Metalrex100 opened #179 "Missing default vars in http/default.conf.j2"
If you creating web_server for php, you might not need variables like:
`http_demo_conf`

and in location section:
`html_file_location`
`html_file_name`
`autoindex`

In `http/default.conf.j2` file there are no default values for these vars.
Is there any reason for missing defaults?
If not, I can suggest PR with default values for these vars.

[2019-11-11 11:46] alessfg commented on #178
Hi @shanep2300! Looks like the location templating is failing at some stage -- can you share the playbook you are trying to deploy? I do not think it's possible to 100% recreate that sample config at the moment, but you can achieve the same end result using a couple configuration files. (Or alternatively, you can use the `nginx_main_upload_*` variables to push that exact configuration file to your

[2019-11-11 11:58] alessfg commented on #179
You are right that you may not need those variables. However, if you don't need them you can comment out/delete the parameter on your playbook and they will not be used. (And some of them such as `autoindex` do have a default value, unless you mean something different). That being said, feel free to submit a PR if you have any improvements in mind 😄

[2019-11-11 16:39] jwatt opened #180 "Consider including /etc/nginx/sites-enabled/* in templates/nginx.conf.j2"
I'm not sure where the convention of putting config files in `/etc/nginx/sites-available/` and symlinking to `/etc/nginx/sites-enabled/` originates from, or who all uses it, but it seems to be very common in Nginx tutorials out there. On the Ubuntu system I'm playing with, the default `/etc/nginx/nginx.conf` includes the lines:

[code]

But it seems that `ansible-role-nginx/templates/nginx.conf.j2

[2019-11-11 17:13] alessfg commented on #180
`/etc/nginx/sites-available/` originates from Apache configuration files (as does virtual hosts, another common term you'll find in many NGINX tutorials). Alas, this is not a practice that necessarily follows NGINX best practices.

What could be, perhaps, implemented, is the option to let users specify multiple locations using the `include` directive.

[2019-11-13 13:47] shanep2300 commented on #178
Only messed with 3 files to try and achieve the conf file mentioned before. Everything else was left the same including tasks/*. A little new with ansible and templating, so sorry if I'm I bit slow on somethings. Let me know if you need anything else.

defaults/main.yml
[code]

With that I edited the template files
http/default.conf.j2

[code]

and stream/default.conf.j2

[code]

[2019-11-15 13:28] alessfg commented on #178
@shanep2300 I would suggest looking at [`molecule/template_module/playbook.yml`](https://github.com/nginxinc/ansible-role-nginx/blob/master/molecule/template_module/playbook.yml) to see an example on how to create a custom NGINX config using the role. You need to define your own playbook and role vars that will then be used to launch this role. Let me know if that helps!

[2019-11-18 08:22] rgarrigue opened #181 "nginx_status_enable doesn't work"
Hi

The role's working fine for my couple of website, except the `nginx_status_enable: true` : you're writing the `stub_status.conf` in `/etc/nginx/conf.d/http/` which isn't included anywhere.

Best regards,

[2019-11-18 09:54] vbotka opened #183 "Thank you, yes -- it seems that doing nginx-full for FreeBSD would solve lots of the module issues."
Which is why, I thought, that if nginx-full was, indeed,  needed -- it had to come from a binary package (eg using ' `pkg install nginx-full`' from FreeBSD official binary package repol (or may be you repo in the future ) -- rather than building it.

_Originally posted by @vladp in https://github.com/nginxinc/ansible-role-nginx/issues/135#issuecomment-499693739_

Hi, you might want to review the P

[2019-11-18 09:55] vbotka commented on #183
sorry for the noise!

[2019-11-18 09:55] #183 closed

[2019-11-18 16:14] #181 closed

[2019-11-18 16:16] alessfg commented on #181
Seems like stub status destination didn't get properly updated after a previous refactor. Merged a PR that should hopefully address any future issues like this by letting users specify the target destination of the stub status file.

[2019-11-20 09:46] rgarrigue opened #187 "Invalid reverse proxy example"
Hi there

To get started I c/c'ed the reverse proxy example from the README, the code block just after

Which didn't worked, here's the debug message

[code]

Problem's in `default.conf.j2` L52

        listen {{ item.value.port }} ssl;

So I had to do like other examples do, add a port: 80

[code]

Not exactly clean since it's a duplicated information, but now it works.

Best regards,

[2019-11-20 12:05] alessfg commented on #187
There is a major difference on how `listen` is configured between the latest release on Ansible Galaxy and the latest changes on GitHub, hence why you're encountering that issue. Should hopefully be fixed once a new release is published (see #168).

[2019-11-20 13:05] rgarrigue commented on #187
Ok. Do you have an ETA for this new release ? I'll switch my source to a github commit meanwhile, since I'm also missing the default entry.

[2019-11-22 03:32] vbotka commented on #135
FWIW. Use *portinstall/portupgrade*. This will install the dependencies and will use packages if available.
``portinstall --upward-recursive --use-packages www/nginx-full``

[2019-12-05 23:11] alessfg commented on #64
Closing this as there's not been any updates in over a year.

[2019-12-05 23:11] #64 closed

[2019-12-06 22:14] alessfg commented on #7
There's now way better templating support, including variables to add any number of additional custom options and include other configuration files in your system to your NGINX configuration.

[2019-12-06 22:14] #7 closed

[2019-12-06 22:18] alessfg commented on #124
Tags have been added to all major functionalities in the role.

[2019-12-06 22:18] #124 closed

[2019-12-07 00:48] #132 closed

[2019-12-07 00:56] alessfg commented on #153
For the time being I am going to let users define the target redirect host. Removes some automation from the role but it lets users customize the `https_redirect` behaviour way better.

[2019-12-07 04:51] #153 closed

[2019-12-10 15:41] alister commented on #170
I've just spent more than an hour trying to find the correct configuration to have files uploaded by this role (in my case, SSL certificates & keys).

For the next person - I offer this advice.  If you don't want to have to put your files in the middle of someone else's role, and have your files more closely located to where you are running the role from - like such:

[2019-12-10 15:57] alister commented on #123
I've just spent more than an hour trying to find the correct configuration to have files uploaded by this role (in my case, SSL certificates & keys).

For the next person - I offer this advice. If you don't want to have to put your files in the middle of someone else's role, and have your files more closely located to where you are running the role from - like such:

    # [your-role]/tasks/main.y

[2019-12-13 20:17] alessfg commented on #178
Closing this since it's been almost a month without activity.

[2019-12-13 20:17] #178 closed

[2019-12-13 20:22] alessfg commented on #155
I'm going to close this for now. There's a lot of NGINX directives that can be potentially critical in any given environment, and perhaps one day they'll all be natively supported by the templates in the role. However, for now, there's other priorities, and with the introduction of `custom_options`, you can now pass any of these directives to any given context without there being a need to explici

[2019-12-13 20:22] #155 closed

[2019-12-13 21:15] alessfg commented on #135
The latest release (0.13.0) should address this issue. Feel free to reopen the issue if it's still not working!

[2019-12-13 21:15] #135 closed

[2019-12-13 21:16] alessfg commented on #187
The latest release (0.13.0) just got published!

[2019-12-13 21:16] #187 closed

[2019-12-13 21:18] #179 closed

[2019-12-13 21:19] alessfg commented on #168
The latest release (0.13.0) just got published!

[2019-12-13 21:19] #168 closed

[2019-12-14 15:59] IyadKandalaft opened #207 "events_custom_options is missing from defaults/templates.yml"
The [defaults/main/templates.yml](https://github.com/nginxinc/ansible-role-nginx/blob/master/defaults/main/template.yml) is missing the events_custom_options declaration despite the fact that it is supported in the [templates/nginx.conf.j2 template](https://github.com/nginxinc/ansible-role-nginx/blob/master/templates/nginx.conf.j2)

Existing template code references events_custom_options
`events {

[2019-12-14 16:30] IyadKandalaft commented on #207
#208

[2019-12-16 21:20] thorian93 opened #209 "HTTP configuration creation stopped working"
**Describe the bug**
After pulling the latest updates from the git repo, the role does not create proper http configuration files using the `nginx_http_template` variable.

**To reproduce**
Steps to reproduce the behavior:
1. Deploy NGINX role using playbook.yml
2. Find empty configuration files as described above. Only the `{{ anible_managed }}` line is there.

**Expected behavior**
The configura

[2019-12-16 21:40] alessfg commented on #209
Hi @thorian93!

Can you share the playbook you are using? That'll help me debug the issue you're encountering.

Thanks,
Alessandro.

[2019-12-17 11:37] thorian93 commented on #209
Hi @alessfg!
I don't have hands on it now but it comes down to this:

[code]

I have the `nginx_http_template` variable filled with two configs, one for HTTP and one for HTTPS. So i would expect to at least have the configuration files populated with some values.

The file detection works anyways, so the role sees the existing files and updates them with new files, which are empty apart from the `

[2019-12-17 18:58] alessfg commented on #209
Tests for templating seems to be fine if you look at https://travis-ci.org/nginxinc/ansible-role-nginx/jobs/624799967#L1241. There's been quite a few templating changes between the last two releases (0.12 and 0.13) so my best guess is that one of those changes broke your playbook? You can check https://github.com/nginxinc/ansible-role-nginx/blob/master/molecule/common/playbook_template.yml for an

[2019-12-19 07:49] thorian93 commented on #209
Hm, alright, I will need to test that and don't know when I will be able to do so thoroughly.

Thanks for your support! :)

If no one else has this issue it is probably my configuration and not the role itself.

[2019-12-26 08:47] erbap opened #210 "apt update (after installation from the nginx repo) gives an error"
ERROR:
N: Skipping acquire of configured file 'nginx/binary-i386/Packages' as repository 'https://nginx.org/packages/mainline/ubuntu bionic InRelease' doesn't support architecture 'i386'

SOLVED:
in nginxinc.nginx/tasks/opensource/setup-debian.yml I added [arch=amd64] to the default_repository since I don't think it someone is gone try to use this installation  method on an i386 based OS.

[2019-12-27 13:06] alessfg commented on #210
Hi @erbap!

Do you think you could submit a PR?

Thanks!

[2019-12-27 16:08] #210 closed

[2020-01-03 07:46] vladp commented on #209
after updating the to the latest, my http config files became empty.
Depending when you created your ansible files, @thorian93 , you will have to restructure them to work with the new role.

I updated this role and my ansible files, about October 20 2019 or so, since then it seems critical structures have changed.

Specifically, now, the "servers" dictionary was introduced, and all the http server

[2020-01-05 18:48] shokinn opened #213 "Implement ngx_http_sub_module"
**Is your feature request related to a problem? Please describe.**
I run a reverse proxy whrere this filter is mandatory.

**Describe the solution you'd like**
Fully implement the ngx_http_sub_module with all functionalities.

**Describe alternatives you've considered**
There aren't any alternative apart from writing an own configuration file and copy it directly to the host.

I would be happy to

[2020-01-07 13:31] arslan70 opened #214 "No package matching 'unit-nginx-plus-module-opentracing' found available, installed or updated"
Trying to use opentracing module
https://docs.nginx.com/nginx/admin-guide/dynamic-modules/opentracing/

Steps to reproduce the behavior:
1. Deploy NGINX role using playbook.yml
With below configuration
    vars:
    nginx_unit_enable: true
    nginx_unit_modules:
      - unit-nginx-plus-module-opentracing

Error:
 failed: [instance] (item=unit-nginx-plus-module-opentracing) => {"changed": false, "

[2020-01-07 13:37] alessfg commented on #213
Hi @shokinn! Feel free to file a PR 😄

For what is worth, and I know this hasn't been all that properly documented, you can now use the `custom_options` parameter at different levels of your template configuration to implement/configure any directive you wish.

[2020-01-07 13:38] alessfg commented on #214
Sadly, I don't think there's an opentracing module for NGINX Unit @arslan70.

[2020-01-07 13:49] alessfg commented on #209
Yeah that's one of the main configuration changes that happened between 0.12 and 0.13 (and only a couple months ago too). You can find a complete list of the changes in the release notes https://github.com/nginxinc/ansible-role-nginx/releases/tag/0.13.0.

[2020-01-07 15:24] arslan70 commented on #214
thank you for the quick reply.

[2020-01-07 16:07] #214 closed

[2020-01-09 20:02] alexsegura commented on #155
+1 for gzip. Here is a copy-paste ready snippet for the lazy web ([source](https://www.digitalocean.com/community/tools/nginx))

[code]

[2020-01-10 12:35] shokinn commented on #213
Ah ok,
didn't know that.

But I think it's still a good idea to implement configuration options nativly.

Something different, I'm running into an issue by running the `molecule test --all`.

[code]

Any Ideas?

Btw.
I'm running a Windows 10 Preview slow ring with a wsl2 with an arch linux.

[2020-01-10 12:43] alessfg commented on #213
I do not disagree 😄  PRs are welcome!

Re: molecule. I have no clue, but I've found this thread https://github.com/ansible/molecule/issues/1851#issue-422884858. I would suggest giving some of those solutions a try?

[2020-01-10 15:55] shokinn commented on #213
Thanks!
Fixed it. For whatever reason it's only working, when I install `ansible` and `molecule[docker]`  as system packages via pip.

[2020-01-13 12:02] thorian93 commented on #209
Alright, I managed to get a minimum working example although it needs further adaption and testing. I think in a case of such complex variable structure some help would be nice for users on how to configure and maybe how to migrate if the structure changes again.

[2020-01-13 13:56] alessfg commented on #209
I totally agree. There's some examples on the README and a more complete example at https://github.com/nginxinc/ansible-role-nginx/blob/master/molecule/common/playbook_template.yml but there's no question that documentation could be much better in this regard.

I anticipate there's still going to be some templating structural changes in the next few releases (and before release 1.0) but I'll make

[2020-01-20 08:28] rolandjitsu opened #218 "Undo main nginx.conf changes"
**Is your feature request related to a problem? Please describe.**
Is there any way to undo any changes done to the main `nginx.conf` (go back to original)? I was testing the `nginx_main_template` options as I couldn't get port 80 to run my app, but I later discovered that using `default_server` for listen opts will also work.

But now, I'm not sure how to undo all of those changes.

**Describe th

[2020-01-20 13:49] alessfg commented on #218
Hi @rolandjitsu! There's no way to restore/undo changes made to any of the default NGINX configuration files (`nginx.conf`and `conf.d/default.conf`) using the role.

However, your previous configuration file should be backed up any time you deploy a new template. In which case you can simply delete the templated file you have right now, change the file name of the backup to `nginx.conf`, and run `

[2020-01-21 03:55] rolandjitsu commented on #218
@alessfg thanks for getting back to me.

Ok, I understand.

I was also thinking about that, I just didn't want to do this manually for every host.

Sounds great, looking forward to it.

[2020-01-28 12:53] dzmitry-rudnouski opened #219 "Failed with ansible 2.8 on Centos7"
**Describe the bug**
Role failed with ansible 2.8 on Centos7:
`{"changed": false, "msg": "No package matching 'nginx' found available, installed or updated", "rc": 126, "results": ["No package matching 'nginx' found available, installed or updated"]}`

With ansible 2.9 works fine.

Successfull ansible 2.9 run:
https://travis-ci.org/lean-delivery/ansible-role-sonarqube/builds/642859374?utm_source=g

[2020-01-28 13:17] alessfg commented on #219
It will also fail with Ansible 2.9.3. It's a known issue with `disablerepo` and `enablerepo`. A fix has already been merged (https://github.com/ansible/ansible/pull/66557) and it will be available in the next release.

`disablerepo` is required for CentOS/RHEL 8 so I don't really want to touch it unless there's a better way to install NGINX that works for all the `yum` family releases. And, as of

[2020-01-29 09:37] dzmitry-rudnouski commented on #219
Works good in 2.9.4.

[2020-01-29 13:40] alessfg commented on #219
Welp, I somehow missed that they had pushed the bugfix to 2.9.4. I'll update the min required version.

[2020-01-29 16:08] #219 closed

[2020-01-29 21:13] mazz-seven opened #222 "Missing endif in http/default.conf.j2 ?"
**Describe the bug**
Did you miss endif here?
https://github.com/nginxinc/ansible-role-nginx/blob/0b176f847a7b43934434088d4f18feed7b156db9/templates/http/default.conf.j2#L89

I'm getting parse error

[2020-01-29 21:19] alessfg commented on #222
It looks to me as if all if statements have the appropriate endif statement (plus, I'm pretty sure molecule would catch any missing endif statements).

Can you paste your parse error? Are you using the latest version of the role? Any extra info you can provide will help debug your issue 😄

[2020-01-31 19:35] mazz-seven commented on #222
Sorry, my mistake  😄

[2020-01-31 19:35] #222 closed

[2020-02-04 09:41] TuxInvader opened #223 "setup-controller-repository doesn't check OS family"
Controller setup from repository (with provided API key) fails on Ubuntu because the yum_repository module barfs.

Fixed my local copy by adding a "when" clause.

[code]

[2020-02-04 13:55] alessfg commented on #223
Good catch -- I'll create a PR shortly. FYI, there are plans to separate the Agent installation into its own role in the near future.

[2020-02-04 16:11] #223 closed

[2020-02-14 20:46] alessfg commented on #210
Fixed by #212

[2020-02-15 13:22] shokinn commented on #213
PR is merged:
https://github.com/nginxinc/ansible-role-nginx/pull/216

[2020-02-15 13:22] #213 closed

[2020-02-18 06:14] rgarrigue opened #225 "Don't log status probing"
Hi

I ususally prefer to avoid logging this

Mind adding `access_log off;` around https://github.com/nginxinc/ansible-role-nginx/blob/master/tasks/conf/setup-status.yml#L9 ?

Best regards,

[2020-02-19 13:39] rgarrigue opened #226 "custom_options such as maps should not end in semi-colon"
Hi there

I want to avoid logging Googlebot & co. Here's how I do it

[code]

But changing this conf doesn't restart the Nginx, only reload, which is not enough.

[code]

I'm not sure changing /etc/nginx/nginx.conf should be a restart every single time though.

Another thing, a corner case : a `map` shouldn't end up with `;`. I had to finish with `# ` to comment out the `;`.

Best regards,

[2020-02-19 18:07] alessfg commented on #226
Hi @rgarrigue!

Thanks for creating this issue. You are right about maps not needing a semicolon -- perhaps a note on the README would be a good idea?

Re restarts vs reloads -- unless I am missing something, `nginx` will load any new configuration after a reload. Why would you need to restart vs reloading `nginx`?

[2020-02-19 19:02] rgarrigue commented on #226
A note in the README or around examples would be good on the ; topic

As for reload VS restart, thinking about it I'm not accurate on the topic. Maybe the service refused to reload due to a bad syntax (a ; after a map) but ansible didn't saw it. The bad syntax issue appeared on a manual restart the day after. Will check tomorrow.

[2020-02-24 21:41] tobiasehlert opened #227 "How to best convert existing nginx config to ansible-role-nginx vars-model?"
**What am I looking for?**

Is there anywhere some documentation in how to convert existing nginx configurations to be able to deliver them by this role?

I would for example like to have an example how how to do this with this role.. I haven't been even close yet 😄

**/etc/nginx/sites-available/example.com.conf**
[code]

**/etc/nginx/nginxconfig.io/php_fastcgi.conf**
[code]

**/etc/nginx/nginx.co

[2020-02-24 22:34] psabharwal-sl commented on #226
Happened to see this while looking for something else...

I believe a restart is required when loading a new module into the config, a reload is not enough in those circumstances.

[2020-02-25 16:04] alessfg commented on #227
Hi @tobiasehlert!

You are not wrong that there's no "Here's how to convert your NGINX conf to be used with this role" guides. I never even thought about having one! That being said, it would make sense to have a couple smallish sample configuration to role vars examples to at least set a starting point.

For now, if you can't manage to get the templates working, I would recommend looking at the o

[2020-02-25 16:14] alessfg commented on #226
@psabharwal-sl a reload is enough for all dynamic modules.

[2020-02-25 22:23] tobiasehlert commented on #227
Hi @alessfg,

Well, I have come quite a bit in translating all my nginx configurations at all various places to work with this Ansible role.. so I will figure it out in the end.

The files I find my things (even if it's not the easiest thing, are:
- [templates/http/default.conf.j2](https://github.com/nginxinc/ansible-role-nginx/blob/master/templates/http/default.conf.j2)
- [defaults/main/template.

[2020-02-26 14:42] alessfg commented on #227
Better to keep the issue open until I have some time to improve the docs 😄

[2020-02-26 14:45] alessfg commented on #225
Good suggestion @rgarrigue! I'll add it to the backlog.

[2020-03-02 13:45] #83 closed

[2020-03-02 13:50] alessfg commented on #83
If anyone wants to take a stab at a PR to ensure that Vault works out of the box I'll look at it. Otherwise I think such an implementation is out the general scope of this role.

[2020-03-05 12:28] valugi opened #229 "incorrect repo for AWS ami"
**Describe the bug**
Trying to install nginx on an AWS ami
**To reproduce**
Steps to reproduce the behavior:
1. Deploy NGINX role using playbook.yml
2. Installs the centos/redhat repo
3. See errors

[code]

Yum update error

**Expected behavior**
To install nginx

**Your environment:**
 - Version of the NGINX Role or specific commit
latest
 - Version of Ansible
_ansible 2.7.9_

 - Target deploymen

[2020-03-05 12:56] valugi commented on #229
Did some introspection and AWS AMI returns `{{ ansible_distribution_major_version }}` as `"Centos Version NA"`

[2020-03-05 13:10] alessfg commented on #229
Hiya @valugi, as you initially uncovered, the main issue here is that there's no supported build for NGINX Open Source on Amazon Linux, only NGINX Plus has builds for Amazon Linux (both 1 and 2).

[2020-03-05 13:13] valugi commented on #229
is there a workaround?

[2020-03-05 13:36] alessfg commented on #229
There might be some workarounds but sadly I do not know about them, nor is it recommended to try to install NGINX Open Source on Amazon Linux. I have never tried to use geerlingguy's role in Amazon Linux, does it work?

[2020-03-05 14:35] valugi commented on #229
hi @alessfg ,
Yes it works, but he recommends now using this role.
https://github.com/geerlingguy/ansible-role-nginx

[2020-03-05 19:39] magicalyak commented on #229
Not to drag this out too much but Amazon Linux isn't the same as Centos or Ubuntu.
AWS doesn't tell us much with it's Linux and the source or code, so it's really a guessing game.  That said, the centos rpms usually work just fine pinned to the kernel version.  I highly recommend using Centos but that's just my personal opinion.
I don't mean this disrespectfully but feel free to add this if you ca

[2020-03-05 19:52] valugi commented on #229
Any special reason for which is not recommended for open source version but recommended for Nginx plus?

I am trying to install a reverse proxy, and the AWS AMI is a stripped down version of Centos 7, in my opinion a good fit for the job.

[2020-03-05 20:02] alessfg commented on #229
I've had a look at geerlinguy's role and he basically has the same repo file as this role has (https://github.com/geerlingguy/ansible-role-nginx/blob/master/templates/nginx.repo.j2#L3). You'll run into the same issue if you use his role on Amazon Linux.

My best and most honest recommendation would be to use a different distro if you want to run NGINX Open Source. Otherwise, as I mentioned, there

[2020-03-05 20:10] magicalyak commented on #229
As a really bad workaround for now, if you can get the rpm and store it local, you could just change the location to the local file.  I know that sounds horrible but that ansible variable should come back with 7Server not NA in most cases.  If the 7Server RPM works we may able to force that for Amazon Linux but likely needs a disclaimer that it's experimental.
1) Need a variable to indicate what R

[2020-03-05 20:12] valugi commented on #229
The template is similar, but probably the default are covering the case when the Centos version is not detected. It works out of the box.

@alessfg  I still do not understand why the Plus version is supported and OpenSource one is not, they come from the same repo no?

@magicalyak  I think I am part of the community - the part that is voicing the opinion. I am glad that Nginx is offering a role th

[2020-03-05 20:14] valugi commented on #229
My workaround would be simpler and less intrusive, I would set the default version to 7 in case of Centos.

[2020-03-05 20:32] magicalyak commented on #229
Feel free to submit it or fork and add this or just add locally.

I'd suggest pre_tasks
This will break when Amazon Linux goes with 8Server though.

pre_tasks:
- set_fact: ansible_distribution_major_version=7
  when: ansible_distribution == "Amazon" and ansible_distribution_major_version == "NA"

This is an issue with Amazon Linux not reporting it's server version because it's not open sourced, th

[2020-03-05 20:35] valugi commented on #229
@magicalyak thanks for the pointers, I will test them.

[2020-03-05 21:11] alessfg commented on #229
Glad to see you might have found a workaround. As far as why NGINX Open Source is not supported on Amazon Linux, the best answer I can give you is that NGINX Open Source, is, well, Open Source, while Amazon Linux is not. NGINX Open Source has a history of carefully avoiding endorsement or support for commercial standards/platforms, and as such, supporting Amazon Linux would not feel quite right no

[2020-03-05 21:20] valugi commented on #229
What!? Nginx open source is available on Mac and Windows XP... which are, well, how should I say it... not open source?
Better come with another excuse.
https://nginx.org/en/#tested_os_and_platforms

[2020-03-05 22:04] magicalyak opened #230 "Add build from source for alternate Linux flavors"
**Is your feature request related to a problem? Please describe.**
I'm always frustrated when people ask for random OS support for OSS like Amazon Linux or whatever new fangled linux distro is out there.

**Describe the solution you'd like**
We support standard OSS linux flavors but if we could add an option to complie and install from source we could handle all the others - https://docs.nginx.com

[2020-03-05 22:04] magicalyak commented on #230
This is to track a PR I plan to add.

[2020-03-10 10:49] rgarrigue opened #231 "Allow simple rewriting"
**Is your feature request related to a problem? Please describe.**

I painfully came up with a raw nginx conf for a simple old domain / uri scheme to new one

[code]
    listen 0.0.0.0:80;
    server_name documentation.old.domain;
    location ^ {
        proxy_pass https://new.domain/uc-doc;
        rewrite rewrite (.*).html(.*) $1$2;;
        rewrite rewrite (.*)/en/stable(.*) $1$2;;
        pro

[2020-03-10 11:49] alessfg commented on #231
Sorry to hear that @rgarrigue!

Did you try using the `custom_options` parameter? You should be able to pass your whole block as is using it.

At any rate let me try to figure a way to implement your config. If there is I can use this as a sample NGINX config to Ansible config doc, if there's not I will find out what's missing/needs to be fixed.

[2020-03-11 12:41] milliams opened #232 "Cannot create unix socket upstream"
I am trying top use this role to reproduce the setup described in the [Gunicorn documentation
](https://gunicorn-docs.readthedocs.io/en/latest/deploy.html) which has an upstream section like:

[code]

I set the `upstream` section of the config to be:

[code]

but when I run ansible, I get the following error:

[code]

The problem here seems to be that the template `templates/http/default.conf.j2`

[2020-03-11 14:05] alessfg commented on #232
Good catch. I did not account for unix sockets when implementing upstreams so thanks for reporting the issue!

While I get a fix merged can you try using upstream custom options instead? You should be able to input any directive you wish into the upstream block this way.

[2020-03-11 14:20] milliams commented on #232
I replaced:

[code]

with

[code]

and it correctly creates:

[code]

[2020-03-16 20:42] xTrekStorex opened #234 "Conditionals in locations / no automatic colon after custom_options lines"
**Is your feature request related to a problem? Please describe.**
There currently is no way, that I am aware of, to define conditionals in locations.
custom_options always add a colon at the end of the line ( https://github.com/nginxinc/ansible-role-nginx/blob/master/templates/http/default.conf.j2#L400 ), which usually is great but due to this it can't be used to add a conditional like
`if (!-f $

[2020-03-17 08:58] meersjo opened #235 "Don't automatically add ssl to listen directives"
Currently, when an ssl: section is defined, the template automatically adds the ssl stanza to each configured listening port. This is a problem, as Nginx perfectly supports both http and https listeners in the same configuration - and that is a valuable feature, as it avoids duplication of configuration.

I propose to not add the ssl stanza automatically, but defer to the ssl setting for each indi

[2020-03-17 13:18] alessfg commented on #234
I have to admit that I never thought about supporting `if` statements when I implemented `custom_options`. I do agree that I think the most straightforward option is to remove the semicolon from the template altogether and add a note to remind people to include it at the end of their directives.

[2020-03-17 13:30] alessfg commented on #235
Hi @meersjo! You are absolutely right, adding the `ssl` parameter can lead to undesired behaviors. I don't think introducing a backwards compatible change would make much sense as you have already detailed -- it makes much more sense to add an option to manually set `ssl` per listener.

[2020-03-17 13:50] meersjo commented on #235
Well, _technically_ it's already possible - you just add "ssl" to the port number :-p Would be good to have it formalised, though.

[2020-03-17 18:19] xTrekStorex commented on #235
You could also add it to opts like you'd do with "http2"
(https://github.com/nginxinc/ansible-role-nginx/blob/master/templates/http/default.conf.j2#L83)

[2020-03-25 17:44] #230 closed

[2020-03-25 17:45] magicalyak commented on #229
@valugi this was just added in https://github.com/nginxinc/ansible-role-nginx/pull/233
which allows you to install OSS from source and should work with Amazon Linux if you'd like to try.

[2020-03-25 17:46] alessfg commented on #229
We've added the option to build from source in #233 -- hopefully that'll work for your use case @valugi  😄

[2020-04-03 07:29] jpaniorte opened #237 "Implements Jinja2 template inheritance"
I want to propose a new way to reuse and maintain templates.

Jinja2 supports template inheritance, current templates could be split into small blocks and put them in a higher one with `{% include '../small-part.j2'%}`

For example, i create folder lib/upstream.block.j2 with:

[code]
And refactor the files `http/default.conf.j2` and `stream/default.conf.j2` with:

[code]
[code]
It will also allow

[2020-04-03 11:15] alessfg commented on #237
Great suggestion @jpaniorte! As it turns out, I'm already working on implementing this feature myself and creating a separate template for the directives included in each NGINX module (as well as expanding the directives supported in each template)! I don't have an ETA for when it'll go live but I'm aiming for end of month 😄

[2020-04-06 07:13] jpaniorte commented on #237
Great @alessfg !!
Let me know if I can help with anything!

[2020-04-06 13:22] rgarrigue commented on #231
Hi @alessfg , sorry for the delay giving you feedback.

I didn't tried the `custom_options`, wasn't aware of it, now that I solved it  the "bad" way, pushing a raw file in the conf.d folder. I don't want to spend more time on this t the moment. Later on maybe, when I'll have to generalize this kind of configuration.

[2020-04-14 08:13] BillHoo opened #238 "[enhancement request] Fall back to nginx -s reload when service is not available"
**Is your feature request related to a problem? Please describe.**
Based on this issue: https://github.com/ansible/ansible-modules-core/issues/952
This role uses ansible service `state: reloaded` to reload nginx, but it is not reloaded at all in Ubuntu 16.04.1 TLS, when my `nginx.conf` have any errors, your handler still exit with no error.

**Describe the solution you'd like**
Fall back to `nginx

[2020-04-14 14:32] alessfg commented on #238
Thanks for reporting this @BillHoo! I had no idea this was a potential issue! I'll try to get on this as soon as I can.

[2020-04-15 02:21] BillHoo commented on #238
@alessfg Thank you for timely reply, this is really important for us to use the official role in our production environment, will wait on your update. regards.

[2020-04-16 16:09] alessfg commented on #238
Heya again, couple thoughts/questions:
1. Which distro are you deploying your playbook in? I'm assuming from your error description that your distro does not have a service system enabled, is that right?
2. Can you include a copy of your playbook (please edit out any sensitive data)?3. Can you try setting `nginx_debug_output` to true and see if NGINX fails as expected?

[2020-04-17 02:42] BillHoo commented on #238
Hi, there's my answers

1. `Ubuntu 16.04.6 LTS (GNU/Linux 4.4.0-170-generic x86_64)`
2. The playbook is pretty simple

[code]

3. I'll try it latter, too busy today

[2020-04-17 20:01] magicalyak opened #239 "Specific versions not honored by modules"
Specifying a version in the free form nginx_version is honored by the nginx-plus install (and I guess OSS) but adding njs, for example, will always then update to the latest on centos7.  I assume this is similar for others.

**To reproduce**
Steps to reproduce the behavior:
1. Deploy nginx-plus with version specified for -20
2. see logs show nginx-plus-20 installs but when nginx-plus-njs is instal

[2020-04-17 20:35] magicalyak commented on #239
This PR fixes the issue but you'll want to use a wildcard to make it work with modules (we can't predict the naming).  So if you want nginx-plus r20 for example, you need to add the variable (and I added an example and # note
nginx_version: "-20*"
that will cover both the nginx-plus and all modules.  Otherwise the modules will auto-upgrade the nginx-plus
the other way to resolve is breaking out th

[2020-04-17 22:41] alessfg commented on #239
Fixed in #240 😄

[2020-04-17 22:41] #239 closed

[2020-04-18 11:39] BillHoo commented on #238
Hi @alessfg , confirmed that when `nginx_debug_output` is enabled, the error is shown, but without it, the whole Role succeed with no error at all.

[code]

[2020-04-18 12:50] alessfg commented on #238
Good to see! In that case I would recommend using that setting for now until I implement a start/reload path for cases where there might not be a service manager installed on the target system.

[2020-04-18 13:47] BillHoo commented on #238
Got it, thank you!

[2020-04-21 14:15] magicalyak commented on #238
Do we want this to be default or just have a variable enable the checking?

[2020-04-21 14:37] alessfg commented on #238
Ideally we'd dynamically check if the system has some sort of service manager and then adjust how NGINX is handled on the fly.

[2020-04-21 15:19] magicalyak commented on #238
Ok going to add a PR shortly.  @BillHoo if you want to test you could run the following and call ansible-role-nginx and run through your examples
ansible-galaxy install git+https://github.com/magicalyak/ansible-role-nginx.git,issue238

[2020-04-21 18:34] magicalyak commented on #238
The above PR fixes the issue I replicated and the one I "think" @BillHoo had where a bad nginx.conf wouldn't trigger an error.  This is now resolved in that PR.

[2020-04-22 00:40] BillHoo commented on #238
Thank you all, I'll have a test later this week and close the issue once verified.

[2020-04-22 13:00] alessfg commented on #229
Closing this for the time being. The install from source option should have taken care of this issue (and sadly there's not much more we can do our end if it hasn't).

[2020-04-22 13:00] #229 closed

[2020-04-26 04:59] yodatak opened #243 "Add the ability to specifiy PID emplacement"
Hi in Fedora 32 Server the Pid file and the systemd service file refer to  /run/nginx.pid
Process: 1428955 ExecStartPre=/usr/bin/rm -f /run/nginx.pid (code=exited, status=0/SUCCESS)
insted of
pid        /var/run/nginx.pid;

It could be interesting to support the PID parameter to permit more flexibility here:
https://github.com/nginxinc/ansible-role-nginx/blob/5a7731735ba6bd845a0ccf7350354142fdff60

[2020-04-27 06:48] nlsdfnbch commented on #165
I ran into a similar issue with `dns_entry`, and subsequently into this issue. I would like to offer an alternative perspective:

Default values for a configuration should not be hard-coded at all, and be left to the software being installed.

As @alexsegura already pointed out, the problem is that you need to keep the values in sync, which by nature will not always be the case (humans are error-p

[2020-04-27 12:18] alessfg commented on #243
Hi @yodatak! You'll be glad to know that this is already on the roadmap and I plan to include it in the next "major" update to the role (I don't have an ETA for it just yet) -- in the meantime if you want to get this implemented sooner feel free to create a PR 😉

[2020-04-27 12:23] alessfg commented on #165
Funnily enough, I'm currently working on ways to improve how templating works in the role. It's been a very slow process (I have rather limited bandwidth to dedicate to the role at the moment), but I think I've come up with an OK solution that'd address these issues. Hoping to have the changes live in a separate branch in a couple months max 😉

[2020-04-27 12:39] rgarrigue commented on #243
A though on the matter, /run/service.pid should be the default. Debian (Buster at least) also complain on any usage of /var/run. Here's a bit of info why : https://refspecs.linuxfoundation.org/FHS_3.0/fhs/ch05s13.html

[2020-04-27 12:45] rgarrigue opened #244 "Allow to optionally tell systemd to restart nginx on failure"
**Is your feature request related to a problem? Please describe.**

I've a (Consul) service discovery based infrastructure on EC2. Rebooting development environment (aka without the redundancy) often end up in Nginx failing to restart since it's unable to resolve backends service URLs (authentification.service.consul for example)

**Describe the solution you'd like**

I ended up adding a systemd d

[2020-04-27 13:43] alessfg commented on #243
Ah good to know. I missed that memo 😄

[2020-05-02 10:39] magicalyak commented on #244
I could take a stab at this.  Do you think adding a variable for drop-in service file makes sense?  I already have code for this on the build-from-source option for OSS.

[2020-05-02 10:47] magicalyak commented on #238
@BillHoo any updates?

[2020-05-02 23:43] BillHoo commented on #238
@magicalyak Sorry for the delay, I was also received your update to Ansible Galaxy days ago, but i'm in vacation, will feedback in tomorrow. thank you.

[2020-05-03 08:29] BillHoo commented on #238
@magicalyak @alessfg
Hi there, confirmed the Ansible Role nginx.nginx 0.14.0 fixed the issue.

[code]

I'm closing the ticket, thanks for all your help!

[2020-05-03 08:29] #238 closed

[2020-05-03 08:31] BillHoo commented on #238
@magicalyak @alessfg

Hi there, confirmed that `nginxinc.nginx 0.14.0` fixed the issue.

[code]

I'm closing the ticket. Thanks for all your effort on this!

[2020-05-04 12:17] alessfg commented on #244
Seconds is fine IMO (different use cases might warrant different sleep timers).

[2020-05-04 12:28] rgarrigue commented on #244
Agreed, specifying the timer to enable it if fine imho.

[2020-05-05 10:05] xTrekStorex opened #245 "Change in APT repo breaks 'apt update' for nginx packages on existing deployments"
With commit https://github.com/nginxinc/ansible-role-nginx/commit/50a6338a356a74929dd861cf604f7a99470cc940 the arch qualification was added to the repository strings.
However the apt_repository Ansible module doesn't ensure an absolute state but only that the repo line exists.
This results in duplicate declarations on existing deployments like so:
[code]

To fix that I now need to purge said file

[2020-05-05 11:54] alessfg commented on #245
Hm interesting. I made that change due to https://github.com/nginxinc/ansible-role-nginx/issues/210, but if there's a better way to address that issue I'm all for it. You do make a good point re using the `template` module instead of `apt_repository`. It'd be worth exploring for sure. And yup you're right, arch qualifying deb-src lines makes no sense. Sorry about that! I'll get rid of it asap 😄

[2020-05-06 17:48] magicalyak opened #246 "reload errors for installs due to change"
**Describe the bug**
Installing NGINX now gives errors at the handler stage for reloads, complaining of a PID missing.  I believe this is directly related to the "fix" I had calling nginx -s reload instead of the service manager.

**To reproduce**
Steps to reproduce the behavior:
1. Deploy NGINX role on centos7
2. Error is produced
3. Rerunning the playbook seems to resolve the error (since it's a

[2020-05-06 18:37] magicalyak commented on #246
selinux was the culprit

[2020-05-06 18:37] #246 closed

[2020-05-06 18:39] magicalyak opened #247 "selinux handling"
**Is your feature request related to a problem? Please describe.**
When I want to enforce selinux or forget to turn it off, I will get strange errors and seem to troubleshoot the issue for too long

**Describe the solution you'd like**
I would like for the role to handle selinux ports for me so that enforcing can be used.

**Describe alternatives you've considered**
selinux permissive but this fee

[2020-05-06 20:43] sergiuszkierat opened #248 "Support for Ubuntu 20.04 LTS (Focal Fossa)"
**Is your feature request related to a problem? Please describe.**
A task [setup-debian.yml](https://github.com/nginxinc/ansible-role-nginx/blob/master/tasks/amplify/setup-debian.yml) fails with the following exception

[code]

**Describe the solution you'd like**
Add packages for [_focal_](https://releases.ubuntu.com/20.04/) within http://packages.amplify.nginx.com/ubuntu/dists/

**Describe alter

[2020-05-07 12:38] alessfg commented on #248
This is real useful information @sergiuszkierat! I'll make sure to add the relevant packages while I prepare the role to support `focal`!

[2020-05-08 20:03] Migsi commented on #227
Also having issues converting an existing config to use the templates ^^"

What is the proper way to use "proxy_set_header" within "reverse_proxy"? I tried a lot of stuff, e.g.
[code]
or
[code]
or
[code]
or
[code]

but none of these worked. I'd appreciate a more detailed transition/overall documentation but would already be happy about a quick answer in here. ;)

[2020-05-08 20:33] alessfg commented on #227
You can find an example here https://github.com/nginxinc/ansible-role-nginx/blob/master/molecule/common/playbook_template.yml#L108

When in doubt, molecule playbooks are always a good first place to check for working examples 😄

[2020-05-09 08:43] Migsi commented on #227
Thank you a lot! Maybe it would be helpful to put a small hint about the molecule examples into the readme, so other less experienced people, like me, get that quicker. ;)

[2020-05-10 16:55] alessfg commented on #227
Yep definitely! I'll hopefully have something in place in the next few weeks 😁

[2020-05-13 16:10] alessfg commented on #248
Quick update -- I have no ETA for when there'll be `focal` packages available for NGINX Amplify. In the meantime I can implement a workaround 😄

[2020-05-13 18:06] alessfg commented on #234
Doing some cleanup and looks like this issue was originally reported by #226 (although it's not entirely clear by the issue title).

[2020-05-13 18:07] alessfg commented on #226
Doing some cleanup and it looks like this issue and #234 are both related to issues arisen from semi-colons being included in `custom_options`. I've changed the title of this issue to better reflect this.

[2020-05-13 20:35] telepath commented on #248
I've used the role to successfully install and configure nginx on focal. So, good job!

[2020-05-13 20:51] sergiuszkierat commented on #248
Please update me, when the workaround come :dancers:

[2020-05-13 21:22] alessfg commented on #248
@telepath -- NGINX core (OSS/Plus) does have `focal` packages readily available. It's NGINX Amplify that's the issue 😛

And yes @sergiuszkierat will do! I'll link the PR to this issue 😄

[2020-05-14 22:43] clwluvw opened #250 "Logrotate config"
**Is your feature request related to a problem? Please describe.**
To change nginx log files permission it should be done with logrotate config

**Describe the solution you'd like**
Add custom logrotate config so we can add `create mode` in logrotate config

[2020-05-19 20:51] #250 closed

[2020-05-20 09:40] Farzy commented on #234
In the meantime, the solution I found is to add a `# comment` to the end of the line. It absorbs the semi-colon and the syntax is valid again:

[code]

Not very elegant. I think it'd be nice to add **snippet** support, as the snippet would be a raw text file. Something like:

[code]

What do you think?

[2020-05-20 10:44] alessfg commented on #234
There's already an `include_files` parameter that should do just that https://github.com/nginxinc/ansible-role-nginx/blob/master/defaults/main/template.yml#L127 😄

[2020-05-20 10:48] Farzy commented on #234
Oh! Information overload, too many variables in there, I didn't spot it 😅

[2020-05-20 10:55] alessfg commented on #234
Haha no worries -- it happens! Makes a good point for improving the docs around special parameters such as `include_files` or `custom_options` 😄

[2020-05-20 11:17] Farzy commented on #234
Just to finish on the `include_files` parameter: is there support in this role for installing such files and hanling config reload in case the file is changed? Or do I have to set this up outside of the role?

[2020-05-20 12:03] alessfg commented on #234
If you use the `include_files` parameter you are technically uploading a new config so the reload handler should be called. If that's not the case please open a new issue! 😄

[2020-05-22 21:59] vladp opened #253 "When on Fedora 31: CentOS repository error"
Fedora:

[root@lnx-16 etc]# cat /etc/fedora-release
Fedora release 31 (Thirty One)

vagrant image:
Vagrant.configure("2") do |config|
  config.vm.box = "generic/fedora31"
end
version 3.0.2

I am getting error when running the role

`<10.0.1.109> (0, b'\r\nErrors during downloading metadata for repository \'nginx\':\r\n  - Status code: 404 for https://nginx.org/packages/mainline/centos/31/x86_64/re

[2020-05-22 22:01] vladp commented on #253
oh, sorry.
it seems like you no longer support Fedora (I am using it in my integration environment, so run into this error).
I guess, if Fedora will no longer be supported, makes sense to close the issue.

[2020-05-24 14:04] VilleMiekkoja opened #254 "Example of ssl termination with nginx reverse proxy"
**Is your feature request related to a problem? Please describe.**
Kind of. I wish to terminate ssl with nginx, and simultaneously apply it as reverse proxy. I do not see an example of this in the docs, even I think it is pretty common scenario.

**Describe the solution you'd like**
Just an example configuration on how to terminate ssl with reverse proxy

**Describe alternatives you've considered*

[2020-05-24 14:40] xTrekStorex commented on #254
You can take the examples and expand them with the dict objects taken from the templates defaults:  https://github.com/nginxinc/ansible-role-nginx/blob/master/defaults/main/template.yml

Something like this:
[code]

I left out ssl ciphers, dhparam, proxy_set_header etc since I set them in the main config, but you can just take them from the examples or defaults. Same for using upstreams.

[2020-05-25 12:05] alessfg commented on #253
Hey @vladp! While the role never officially supported Fedora, it has always supported RHEL/CentOS. Now, the issue is that NGINX does not produce packages for Fedora out of the box, so this role fails to find a suitable package for Fedora.

My suggestion would be to try to use the build from source parameters and see if that works. The task will take a bit longer to complete but that might be the b

[2020-05-25 12:08] alessfg commented on #254
@xTrekStorex is totally right. At some stage I would also like to have working examples for most use cases covered in Molecule playbooks, including SSL (using self-signed certs) if possible.

[2020-05-25 18:30] vladp commented on #253
Ah, ok. thank you.

After some thinking, I am taking a view to replace Fedora with CentOS 8 for our purposes..

I use multi-OS installations in integration environment, not just to anticipate client needs, but, also as sort of 'reconnaissance' to understand what potentially future changes will impact our system.
Fedora was a good proxy for redhat based distros for that.
But now that CentOS8 is upd

[2020-05-25 18:30] #253 closed

[2020-05-29 11:23] alanmcg opened #255 "Unable to download the nginx signing key due to ssl error on ubuntu Focal"
**Describe the bug**
Unable to download the nginx signing key due to ssl error on ubuntu Focal docker image

**To reproduce**
- hosts: host1
  roles:
    - { role: nginx }

**Expected behavior**
nginx should be installed

**Your environment:**
Deploying nginx on ubuntu docker with packer and ansible (packer calls the ansible provisioner)
ansible 2.9.6

It is possible to download the key separately

[2020-05-29 11:41] alessfg commented on #255
Hm that is a weird error. Molecule tests on all previous versions of Ubuntu seem to be passing just fine, and I would not expect the `apt_key` module to behave any differently between systems. I'll get back to this once I formalize Ubuntu Focal support. Can you check that you have the relevant `ca-certificates` package installed on your Docker container in the meantime?

[2020-06-09 13:57] alessfg commented on #234
Closing this in favor of #226

[2020-06-09 13:57] #234 closed

[2020-06-09 16:23] #226 closed

[2020-06-09 16:24] alessfg commented on #255
I've added Ubuntu Focal tests and everything seems to be working as intended. The issue you are seeing is most likely related to your system.

[2020-06-09 16:24] #255 closed

[2020-06-12 02:00] cubit9 opened #261 "NGINX fails to start on SELinux enabled systems, when I install from nginx_repository"
**Describe the bug**
This is not a new bug. The problem is already reported here:
[code]

**Your environment:**
 - Version of the NGINX Role or specific commit
master
 - Version of Ansible
ansible 2.9.6
 - Target deployment platform
CentOS 8

[2020-06-12 09:14] cubit9 commented on #261
I have found a workaround, who is working for me so far. Maybe not the right way. But here a short description.
I changed task for the installation of NGINX a little and upload a new `nginx.systemd` to the server to overwrite the `nginx.systemd` file, which comes with the installation.

My new `nginx.systemd` looks like this:

[code]

[2020-06-12 12:35] alessfg commented on #261
Hi @cubit9!

This seems to be an issue specific to NGINX, not this Ansible role per se. I would recommend getting in touch with the core development team via the NGINX mailing list (https://mailman.nginx.org/mailman/listinfo) and see what their thoughts are on this issue.

I'm closing this issue for now, but feel free to reopen/create a new issue if/when you hear back anything from the core team t

[2020-06-12 12:35] #261 closed

[2020-06-12 21:42] #136 closed

[2020-06-13 20:23] heronimus opened #263 "Centos Nginx installation from repository error (module_hotfixes option)"
**Describe the bug**
Nginx default installation from Nginx Repository (yum) on Centos 8 getting an error with current default repo files configuration. Already manual check with `list available nginx\*` command, and only show Nginx version 1.14.x from AppStream (centos default repo).

**To reproduce**
Steps to reproduce the behavior:
1. Deploy NGINX role using playbook.yml
2. Get below error
`
TAS

[2020-06-13 20:29] heronimus commented on #263
**UPDATE:**

I found out from http://nginx.org/en/linux_packages.html#RHEL-CentOS, that adding `module_hotfixes = True` option to repo files will fix the issue.

here's the new repo files:
[code]

Current list of available package with `module_hotfixes = True`  :

[code]

I see that the current `yum_repository` module on ansible doesn't yet support `module_hotfixes` option, the changes still not y

[2020-06-15 19:19] alessfg commented on #263
Hm that's interesting. The molecule tests are passing and when I run `dnf list available --disablerepo=* --enablerepo=nginx nginx\*` on centos 8 I get
[code]
which indicates that the repo is working correctly. Could the issue have something to do with your CentOS installation? (Did you install `nginx` from the CentOS repository before using the role perhaps?)

That being said, I see no reason for

[2020-06-16 16:48] heronimus commented on #263
Yup, you're correct @alessfg. I do install Nginx from CentOS-AppStream repository on my machine before, although I already completely remove it, I found out that it makes CentOS AppStream repository marked as active streams for Nginx package, that's why Nginx package from Nginx repository are filtered out from my machine. I also already tested with a new server instance, everything was okay with f

[2020-06-18 13:09] #263 closed

[2020-06-19 12:17] alessfg commented on #207
Solved by #208

[2020-06-19 12:17] #207 closed

[2020-06-22 11:30] alessfg commented on #218
Bumping this to 0.16.0 since properly implementing an undo option would also have to implement a rollback feature and the latter will take some extra development time.

[2020-06-22 12:22] alessfg commented on #235
After double checking this should be already possible as of 0.14.0 and #215. Feel free to reopen the issue if something's still not working as expected!

[2020-06-22 12:22] #235 closed

[2020-06-22 18:54] #232 closed

[2020-06-23 06:18] dapi opened #269 "Host to install Nginx-extras?"
**Is your feature request related to a problem? Please describe.**

Ia want to use `nginx-extras` instead of `nginx` package.

**Describe the solution you'd like**

Add variable to setup Nginx package name

[2020-06-23 15:48] #225 closed

[2020-06-24 10:19] #243 closed

[2020-06-24 13:50] #180 closed

[2020-06-25 02:39] darkman13 opened #271 "set nginx_debug_output: true then script Failed"
**Describe the bug**
Setting the nginx_debug_output variable to true in the script results in the following error.

**To reproduce**
Steps to reproduce the behavior:

shell> ansible-playbook -i hosts provision.yml

1. Deploy NGINX role using playbook.yml
[code]
2. View output/logs/configuration on '...'
[code]
3. See error

**Expected behavior**
A clear and concise description of what you expected

[2020-06-25 11:30] alessfg commented on #271
Thanks for reporting this issue @darkman13! (And sorry for accidentally closing it -- I misclicked 😅) I have encountered this issue myself a couple times and I think I know why it happens in some distros (`nginx_debug_output` runs `nginx -T` before the `nginx` service is started).

[2020-06-26 09:47] magicalyak commented on #269
In other words you want to change the name of the package you install into a variable you could modify?

[2020-06-26 11:28] magicalyak commented on #244
@rgarrigue The combined [PR here](https://github.com/nginxinc/ansible-role-nginx/pull/272) should allow you to specify the time for systemd.  I've added the following to a systemd.yml defaults that hopefully make obvious the changes.  I also added a timeout.  You need to make nginx_service_modify: true for either of the two options to take effect.

[code]

[2020-06-26 11:56] rgarrigue commented on #244
Thanks ! Dunno when I'll be able to test, but I'll

[2020-06-26 14:53] alessfg commented on #269
Hi @dapi!

`nginx-extras` is a distro supported package that adds a lot of extra modules and integrations to `nginx` that we do not necessarily support. As such, I am not comfortable in providing support for it within this role. That being said, you can always set `nginx_enable` to `false` and install `nginx-extras` package in a `pre_task` if you so wish.

Cheers,
Alessandro.

[2020-06-26 14:53] #269 closed

[2020-06-26 15:53] necrose99 opened #273 "Gentoo support"
https://github.com/gentoo-ansible/role-nginx

not sure if this role i'd trust at 5 years stale ,  however looks to do most of the basic
USE=""option a, b , c"  emerge www-server/nginx

as gentoo can toggle libraries on/off like Broti compression ,
email/webmail  use case hosting flags ...

however merging into this role might be a consideration ,
and least better supported as well.

[2020-06-27 13:24] EJBroeders opened #275 "Broke backwards compatibility template PID"
Commit 902d4ff83f8b6485a7900a16302ffa690a455e97 broke backwards compatibility. My initial config was, based on  `molecule/common/playbook_template.yml`:
[code]
This results in:
[code]
The fix on my side is easy: add the `pid` variable. However, I would expect that new development should not break older configurations without a prior warning.

As a more general inquiry, would it be possible to add

[2020-06-29 13:54] alessfg commented on #275
Sorry about that! I created a new PR to restore backwards compatibility, I'll merge it as soon as possible 😄

[2020-06-29 14:07] alessfg commented on #273
Gentoo is not an officially supported NGINX distribution. I would recommend checking out the option to build NGINX from sources https://github.com/nginxinc/ansible-role-nginx/blob/master/defaults/main/main.yml#L32-L36 and see if that'll fit your use case.

[2020-06-29 14:07] #273 closed

[2020-06-30 20:39] #275 closed

[2020-07-01 08:40] darkman13 commented on #271
I don't think this is a problem.
Some executions on centos seem to require root privileges (for running commands like "rpm logrotate and nginx" )
[code]
but, execution in the handler does not seem to apply this root permission.
Would you please check it again?

[2020-07-01 11:43] alessfg commented on #271
`nginx_debug_output` runs before any handler is run, so whether the handler runs correctly as root or not would be a different issue altogether (not saying that it's not an issue). I've also recently heard of some CentOS issues related to SELinux, which should be able to be addressed with the introduction of SELinux handling variables in a PR merged yesterday (#272).

[2020-07-02 04:34] darkman13 commented on #271
@alessfg Sorry. I was misunderstanding that part.

[2020-07-03 09:20] darkman13 commented on #271
Share additional errors and solutions.

When executing the script with the following options

[code]

An error occurs in the Run Logrotate section.

[code]

After looking for why this error occurred, it seems that some value of the PATH environment variable is missing when the script is executed (I can't figure out why this happens)

[code]

So, I confirmed that there is no problem if the environm

[2020-07-06 13:07] magicalyak commented on #271
Did you have some special install directives or PATH modifications?  Centos and RHEL have /usr/sbin in the path for major_version 7.

[code]

[2020-07-06 13:12] magicalyak commented on #271
This is where it's set on mine:
[code]

[2020-07-06 16:16] alessfg commented on #244
Closing this since #272 should address this issue. Feel free to reopen if you run into any other issues on your end!

[2020-07-06 16:16] #244 closed

[2020-07-06 16:17] alessfg commented on #247
Implemented by #272.

[2020-07-06 16:17] #247 closed

[2020-07-07 08:45] alessfg commented on #271
#279 should have addressed the `nginx_debug_output` issue 😄

[2020-07-07 15:30] alessfg commented on #245
Hey @xTrekStorex!

Finally getting around removing the arch qualifier from the source repo list. Re your first comment re using the `template` vs the `apt_repository` module, I'll have to think about it. You ran into an unfortunate side effect/error of using `apt_repository` but I don't foresee any further changes to the repo lists in the near future.

Cheers.

[2020-07-07 16:42] #245 closed

[2020-07-07 16:53] xTrekStorex commented on #245
Hi @alessfg,

it's nice this gets cleaned up, but this will duplicate the deb-src line again since it's still done via apt_repository.
So that's a repo change in itself already. :P And from experience with plenty FOSS upstream repos I wouldn't be so sure the repo URL won't change again - even if just by a single character. Guess I'll have to whip up another temp playbook to fix the duplicate lines

[2020-07-07 17:32] alessfg commented on #245
🤦 me. Sorry about that! There's plans to add a variable soonish (hopefully by end of week) to choose whether you want to install `nginx` or configure `nginx`. Once that variable gets implemented you can perhaps simply set the role to not install `nginx` and thus the repo list won't error out? I'll document the breaking change (yet again) once the Changelog gets updated. (I'll rethink the template

[2020-07-07 17:50] alessfg commented on #248
Quick update (and not with great news) -- made the decision to hold off on implementing the fix in the linked issue. This role aims to only support officially developed distributions and implementing a side fix would not fit the current goals of the role. `focal` support will have to come from the NGINX Amplify team.

[2020-07-08 08:21] sergiuszkierat commented on #248
thanks for updating us, it seems reasonable

[2020-07-13 14:08] alessfg commented on #271
Closing this since #279 should have fixed the `nginx_debug_output` and the path issue is not related to the role.

[2020-07-13 14:08] #271 closed

[2020-07-20 15:36] alessfg commented on #209
Quick update, I've started adding a Breaking Changes section to the Changelog (which will in turn be the base for any new release notes). This section should cover any instructions on how to migrate any playbooks if necessary.

[2020-07-20 15:36] #209 closed

[2020-07-20 21:10] schmitmd opened #286 "Add IPv6 support for listen directives in stream template"
**Is your feature request related to a problem? Please describe.**
TCP/UDP streams cannot be configured by the listen_address directive for IPv6.  The template only supports IPv4.

**Describe the solution you'd like**
The streams template should be able to add a listen directive for an IPv6 address via quoted YAML strings in Ansible variables.  Something like "listen_ipv6_address" would suffice.

[2020-07-21 15:26] alessfg commented on #286
I've "ported" over the listen structure used in `http` templates to `stream` templates. You should now be able to customize the `listen` directive as you see fit 😄

[2020-07-21 15:26] #286 closed

[2020-07-21 16:00] alessfg commented on #227
Quick update -- I've added links to the various Molecule playbook examples to the README. I might still circle back to include more detailed examples showing how to port smallish sample NGINX configurations to the role template variables, but for the time being I'm going to the sample Molecule playbooks since those are always warranted to work with the current version of the role.

[2020-07-21 16:00] #227 closed

[2020-07-24 09:24] defanator commented on #248
@sergiuszkierat @alessfg please check https://github.com/nginxinc/nginx-amplify-agent/issues/181#issuecomment-662107703

[2020-07-24 12:32] alessfg commented on #248
Nice! I'll work on implementing that as soon as I can.

[2020-07-28 10:26] #248 closed

[2020-07-28 10:28] alessfg commented on #248
I've implemented the Ubuntu focal experimental support in #292. Hopefully that works out for everyone! 😄

[2020-07-30 19:29] asabhaney opened #294 "Ability to upload snippets"
**Is your feature request related to a problem? Please describe.**
It would be really handy to be able to upload a `snippets` directory containing configuration files, so that one can reuse common configuration in other nginx http conf files. If I'm not mistaken, I don't believe that this is currently (explicitly) possible in this plugin.

**Describe alternatives you've considered**
Tried using `n

[2020-07-31 10:31] alessfg commented on #294
Interesting suggestion @asabhaney! I can't promise when/if this will get worked on (there's a few other tasks on the backlog with a higher priority at the moment), but feel free to submit a PR if you want 😄

[2020-08-03 07:51] DO1JLR opened #295 "configuration example for php config"
Hello

Thank you very much for this Ansible role. I like to use it when I need a nginx server and some configuration.

Now I'm afraid I might have reached a limit. Now I want to create a website with PHP. But I can't find any hint in the molecule examples or in the templates themselves how and if that works.

Is one of the existing templates for this role designed to support PHP? Or does it result

[2020-08-05 04:46] TimeTravelersHackedMe commented on #248
Looks like there is still a kink to work out. I posted details on the PR #292

[2020-08-07 12:59] damex opened #296 "add support for grpc support"
**Is your feature request related to a problem? Please describe.**
i have an infrastructure that have production applications use grpc and currently automation for them is able to be done only by using a custom template.

so this is the problem - the only way to automate grpc with nginx is to use custom options which is barely readable and hard to support in that case or though making your own tem

[2020-08-08 15:28] b0ric opened #297 "python-apt package is not available in Ubuntu 20.04.1 LTS"
**Describe the bug**
Installation of dependencies fails.

**To reproduce**
Steps to reproduce the behavior:
1. Try to deploy NGINX role on Ubuntu 20.04.1 LTS
3. See error: `FAILED! => {"changed": false, "msg": "No package matching 'python-apt' is available"}`

**Expected behavior**
`python-apt` is not available on Ubuntu 20.04.1 LTS and be excluded from the dependencies.

**Your environment:**
-

[2020-08-09 18:18] StudioMaX commented on #165
Any progress with this issue?

[2020-08-10 11:46] alessfg commented on #165
Nope. There's still plans to go back to this in the "near" future, but a couple other tasks have taken priority.

[2020-08-10 12:22] alessfg commented on #295
There's no PHP specific config templates or examples at the moment but you can find an example using `custom_options` here https://github.com/nginxinc/ansible-role-nginx/blob/master/molecule/common/playbooks/template_converge.yml#L326-L335

[2020-08-10 13:16] DO1JLR commented on #295
thanks.

I will give ``custom_options`` a try.

[2020-08-10 13:16] #295 closed

[2020-08-10 13:35] alessfg commented on #297
I can't seem to replicate the issue on my end. My Ubuntu 20.04.01 LTS EC2 VM seems to include `python-apt`. Can you check which, if any, python-apt package is included in your VM?

[2020-08-10 13:36] alessfg commented on #248
^Solved

[2020-08-10 17:08] StudioMaX opened #301 "`nginx_http_template.[default].servers.[server1].listen.[listen_items]` is not insertion ordered"
**Describe the bug**
All listen records inside `nginx_http_template.[default].servers.[server1].listen.[listen_items]` won't preserve their insertion position/order inside ~~array~~ dict.

**To reproduce**
[code]

**Expected result**
[code]

**Actual result**
[code]

**Your environment:**
-   Version of the NGINX Role or specific commit: master# 0922304b12c2dc578f86537f311304ffc498057d
-   Version

[2020-08-10 17:31] alessfg commented on #301
I do not have any suggestions right now. As you mentioned, lists seem to be the way to go, but it'd be a BC. That being said, as part of an upcoming templating refactor I'm planning on switching to lists whenever possible and that should fix this issue.

[2020-08-10 18:01] StudioMaX commented on #301
I had an idea to implement sorting by IP and port to somehow preserve the relation of IP addresses in the config.
Current:
https://github.com/nginxinc/ansible-role-nginx/blob/0922304b12c2dc578f86537f311304ffc498057d/templates/http/default.conf.j2#L82-L84

What I did locally:
[code]
I'm not sure about portability, but it works for me.

So `listen` will be rendered as:
- First, show everything where

[2020-08-10 19:10] alessfg commented on #301
Hm that could work for the time being. Mind submitting a PR?

[2020-08-10 23:37] b0ric commented on #297
Hi @alessfg, just re-created the server with the same Ubuntu 20.04.01 LTS AMI from Canonical and it passed.
Looks like a false positive on my end.

[2020-08-10 23:37] #297 closed

[2020-08-14 04:27] curtisspendlove commented on #297
I know this is closed, but just wanted to add.

I created a Digital Ocean Droplet with 20.04.01 this evening and got the same error.

I noticed it was saying in the MOTD (before I trashed that with extreme prejudice) that there was immediately an update available.

[code]

A `sudo apt upgrade` fixed it. I'm guessing there might be a slight lag at the moment between certain images. :: shrug ::

[2020-08-14 20:08] carldubois opened #305 "Nginx Plus install w/ ansible role in Ubuntu"
Does this work for ubuntu 18.04? Trying to install plus:
  roles:
    - nginxinc.nginx
  vars:
     nginx_debug_output: true
     typeo plus
     license:
       certificate: /etc/ssl/nginx
       key: /etc/ssl/nginx

Skipped over Plus install.

[2020-08-18 12:16] alessfg commented on #305
Seems as if you are missing the `nginx` suffix before your variable names. You should use `nginx_type` instead of `type` and `nginx_license` instead of `license`.

[2020-08-19 11:51] #305 closed

[2020-08-19 16:46] alessfg commented on #296
Hey @damex! Could you resubmit this issue here https://github.com/nginxinc/ansible-role-nginx-config? Starting from the latest release, 0.15.0, config related issues/PRs should live in the aforementioned repo.

[2020-08-22 11:35] Migsi opened #310 "'Remove NGINX Configuration Files' step failing"
**Describe the bug**
The nginx role fails on "(Setup: All OSs) Remove NGINX Configuration Files" with the given error message:
`fatal: [playground.example.com]: FAILED! => {
    "msg": "Unexpected templating type error occurred on ({{ nginx_config_files.results | default('') | map(attribute='files') | sum(start=[]) | map(attribute='path') | list + nginx_cleanup_config_files | default('') }}): can

[2020-08-24 14:48] alessfg commented on #310
Closing in favor of https://github.com/nginxinc/ansible-role-nginx-config/issues/15

[2020-08-24 14:48] #310 closed

[2020-09-02 13:27] alessfg opened #314 "Implement missing officially supported modules"
**Is your feature request related to a problem? Please describe.**
There's been quite a few modules added to the list of officially supported NGINX modules, as seen here https://docs.nginx.com/nginx/admin-guide/dynamic-modules/dynamic-modules/

**Describe the solution you'd like**
Any missing modules should be added to this role

**Describe alternatives you've considered**
N/A

**Additional contex

[2020-09-08 14:04] alessfg commented on #314
Fixed in #315

[2020-09-08 14:04] #314 closed

[2020-09-09 14:12] sergiuszkierat commented on #248
Sorry for delayed feedback, I confirm that it is working. Good job @alessfg :+1:

[2020-09-17 15:29] ChrisMcKee opened #322 "NGINX no longer installable (Ubuntu 18lts - aws)"
NGINX no longer installable after 856a9c93bf395e6c71110dd42c8c55cec44c5789
Setting version to 856a9c93bf395e6c71110dd42c8c55cec44c5789 installs fine.

[code]

[code]

[code]

[2020-09-17 16:41] alessfg commented on #322
Good catch. Found the bug. Getting ready a PR.

[2020-09-18 13:10] #322 closed

[2020-09-21 10:58] rharink opened #328 "Unsupported parameters (rpm_key)"
**Describe the bug**
I get the following error on RHEL8:
[code]

**To reproduce**
Steps to reproduce the behavior:
1. Deploy NGINX role on RHEL8
2. Fails see  error above

**Expected behavior**
A clear and concise description of what you expected to happen.

**Your environment:**
-   Nginx 19
-   Ansible 2.8
-   RHEL8

**Additional context**
Always worked in a production pipeline, started failing

[2020-09-21 11:49] alessfg commented on #328
Ah it's because I introduced a new parameter in the latest release that only works starting in Ansible 2.9 (https://docs.ansible.com/ansible/latest/modules/rpm_key_module.html). Any chance you could upgrade to 2.9? The parameter adds a little extra security to the role.

[2020-09-21 12:13] rharink commented on #328
Thanks! i'll upgrade to Ansible 2.9.

[2020-09-21 12:13] #328 closed

[2020-09-21 19:54] edjackson-wf opened #329 "OSS version no longer installs on Amazon Linux"
**Describe the bug**
NGINX open source no longer installs via this role on Amazon Linux 2.

**To reproduce**
Steps to reproduce the behavior:
1. Deploy NGINX role using playbook.yml on an Amazon Linux system
2. View ansible output
3. See error "Your OS, Amazon is not supported by NGINX Open Source"

**Expected behavior**
NGINX open source version installed.

**Your environment:**
-   Version of th

[2020-09-21 20:06] alessfg commented on #329
That's intended. If you want to use NGINX on Amazon Linux I recommend using the `nginx_install_from: source` option.

[2020-09-21 20:52] edjackson-wf commented on #329
AFAIK Amazon Linux is binary compatible with RHEL, and installation via version 0.16.0 of this role works fine.

I would happily just install NGINX from the repos that AWS provides, but unfortunately they don't update regularly enough to satisfy my security audit requirements.

While installing from source is certainly an option, it seems like an unnecessary burden.

[2020-09-21 22:00] alessfg commented on #329
You make a valid point. Let me think about it and get back to you. Either way, as a PSA, even if NGINX RHEL packages work on Amazon Linux, NGINX will not support any potential issues arisen from installing NGINX on Amazon Linux.

[2020-09-21 22:26] edjackson-wf commented on #329
Thanks for considering it.

For what it's worth (mostly to people who hit this via google, I guess), the following tasks will probably suffice as a substitute in most cases, although configuration files will still need to be managed and the service enabled:

[code]

[2020-09-22 14:16] alessfg commented on #329
I've opened a PR that changes the assert module to ignore any errors/failure state. Can you check it out and see if that helps?

[2020-09-22 15:50] #329 closed

[2020-09-22 16:50] alessfg commented on #329
FYI, just tested on AL2 and the installation works fine. You'll need to set
`nginx_repository: https://nginx.org/packages/rhel/7/$basearch` to override the default repositories (it won't work otherwise). AL1 will not work.

[2020-09-22 18:25] edjackson-wf commented on #329
Confirmed the same, thank you.

[2020-09-25 06:44] tux-o-matic opened #333 "Status defaults shouldn't be to listen on port 80 without a server_name"
**Describe the bug**
Having the stub_status module served via its own HTTP server on port 80 and without a server_name by default can give odd behaviour.
Having another HTTP host set as default_server isn't enough either to guarantee the separation.
The allow/deny statements should also be moved out of the */nginx_status* location to the server block.

**To reproduce**
Steps to reproduce the behav

[2020-09-25 12:05] alessfg commented on #333
Hi @tux-o-matic! Config related issues should be posted on the NGINX config role (check the deprecation warning on the README and/or Changelog for more details). I'll transfer this issue this time around, but please post any new issues on the relevant repository 😄

[2020-10-05 09:16] nergalex opened #336 "Removing the `nginx_plus` license fails on CentOS"
**Describe the bug**
Install KO due to nginx_license_status not defined

**To reproduce**
1. Deploy NGINX role using playbook.yml: [poc-nginx_app_protect_install_scale_out.txt](https://github.com/nginxinc/ansible-role-nginx/files/5326414/poc-nginx_app_protect_install_scale_out.txt)
2. View output: [job_error.txt](https://github.com/nginxinc/ansible-role-nginx/files/5326402/job_error.txt)
3. See er

[2020-10-08 00:20] alessfg commented on #336
Thanks for all the logs and info you provided. I've reproduced and found the issue 😄
Might be a few days until I can start working on a fix (setting the state to present in the line you specify breaks the license removal functionality), but rest assured I'm on it!

[2020-10-22 23:55] alessfg commented on #336
Quick update -- I am working on https://github.com/nginxinc/ansible-role-nginx-config/issues/32 at the moment, but as soon as that's fixed (a similar fix will also apply to this repo), I'll start working on this 😄

[2020-11-05 14:37] #336 closed

[2020-11-05 14:47] alessfg commented on #336
Issue should be fixed by #340.

[2020-11-10 00:33] djbrogan opened #344 "Cannot install njs module if nginx_version is specified"
Without severe coercion, you cannot install a specific version of NGINX Open Source (var nginx_version) with the NJS module.

The root cause appears to be that the NJS module for NGINX is the only module whose versioning differs somewhat, because it is based on a 3rd party library.

| Package | Version |
|---|---|
| nginx | 1.19.4-1~bionic |
| nginx-module-geoip | 1.19.4-1~bionic |
| nginx-module-

[2020-11-10 11:50] alessfg commented on #344
Good catch! I think I can have a simple fix in place within the day.

[2020-11-10 16:47] alessfg commented on #344
As it turns out, the simple fix I had in mind does not result in a very good UX. I've been doing some further R&D and I think the best solution (for both UX and backwards compatibility reasons) is to add support for an additional module data structure. So in addition to simply specifying a module via
[code]
You can also use a structure such as
[code]

[2020-11-12 12:07] fr6nco opened #347 "Nginx modules are not enabled upon installation - PLUS"
**Describe the bug**
install-modules.yml only installs the module, but wont add the load_module directive into nginx.conf. This feature was working a few releases back.

**To reproduce**
Steps to reproduce the behavior:
install nginx plus (probably non plus has the issue too) and add module. e.g. njs.

**Expected behavior**
Module installed (which is OK). Load_module directive added to nginx.conf

[2020-11-12 12:28] alessfg commented on #347
Heya, this is working as intended. Any config related tasks (e.g. adding the `load_module` directive) are now handled by the [`nginx_config`](https://github.com/nginxinc/ansible-role-nginx-config) role.

[2020-11-12 12:29] #344 closed

[2020-11-12 12:46] fr6nco commented on #347
Ah great. Thanks for the update, I wasn't aware of this. I see the deprecation warning in the readme now.

[2020-11-12 12:46] #347 closed

[2021-01-18 13:52] AlexanderMatveev commented on #248
@sergiuszkierat @alessfg Looks like not working on fresh 20.04:

[2021-01-18 13:58] alessfg commented on #248
Perchance it's a one off error? If it keeps happening there's sadly not much I can do until `focal` is added as an officially supported platform.

[2021-03-28 15:50] leggewie opened #385 "dead links in README"
The README has dead links in the section "Example playbooks"

[2021-03-29 11:46] alessfg commented on #385
Good catch! Forgot to update the README links when I reorganized the Molecule folder structure.

[2021-03-29 11:47] #385 closed

[2021-04-20 18:56] Helveg commented on #329
Where does this need to be set?

[2021-05-25 11:39] pugnacity opened #410 "NGINX config check fails when installing NGINX from a RHEL repository and IPv6 is disabled"
### Describe the bug
Installation of nginx fails when IPv6 is disabled

### To reproduce
Steps to reproduce the behavior:
1. Install System with IPv6 disabled
2. Run basic role

### Expected behavior
nginx reports the errors but continues with the playbook, because the configuration happens in nginx_config

### Your environment:
-   Version of the NGINX Collection 0.3.0
-   Version of Ansible: 2.9

[2021-05-27 13:41] alessfg commented on #410
Does your RHEL system have `ipv6` enabled before using the role/collection? And can you share your deployment playbook? I'm trying to replicate your error but I am having difficulty doing so. NGINX should not produce an invalid configuration on a fresh install. That being said I do not disagree with your expected behavior reasoning, but I would like to dig a bit deeper into what might be causing y

[2021-05-27 17:24] pugnacity commented on #410
IPv6 was disabled during installation.
Okay the error happens only, when using the package from the Red Hat respository. Thank you for the hint.

[2021-05-27 21:36] alessfg commented on #410
Ah! Looks like Red Hat has tweaked the default config to use `ipv6` by default. I'll chat internally to see if we want to change the current config check behavior to a warning instead of leaving it as an error, although given the context we might want to keep it as is to proactively alert users that NGINX might not be getting properly installed.

[2021-06-02 12:21] alessfg commented on #410
In the end we are going to keep the current functionality as is. I've changed the issue title to make it a bit more descriptive and easy to search in case someone runs into a similar issue in the future 😄

[2021-06-02 12:21] #410 closed

[2021-07-15 08:57] bateleurX opened #424 "ansible-role-nginx does not work on Debian, Ubuntu for aarch64"
### Describe the bug
Debian, Ubuntu role does not work on aarch64 system.
It comes from hardcoded amd64 in vars/main.yml
https://github.com/nginxinc/ansible-role-nginx/blob/3a63b9acf6b69dde21e17db0dc753f18c2fc03ee/vars/main.yml#L23

### To reproduce
Steps to reproduce the behavior:
clone repository on Ubuntu 20.04(aarch64)
exec `molecule test --parallel`

can see errors in alpine3.10, 3.11, debian

[2021-07-15 23:59] #424 closed

[2021-08-02 09:04] TonyBostonTB opened #428 "Add AlmaLinux as supported OS"
### Is your feature request related to a problem? Please describe
I have to manually add AlmaLinux to the supported OSes

### Describe the solution you'd like
Make RedHat Vars work with AlmaLinux as this is one of the future CentOS 8 replacements

### Describe alternatives you've considered
I can manually edit files to get it tow work

[2021-08-02 10:36] alessfg commented on #428
NGINX does not officially support AlmaLinux as of today so I can't add it to the list of supported OSes (that's not to say that you cannot install it using the role as is, and things might always change in the future).

[2021-08-02 10:37] #428 closed

[2021-08-19 14:02] DevopsVlogger opened #434 "Linux installation variables file linux.yml doesn't exists in defaults/main"
### Linux installation variables file linux.yml doesn't exists in defaults/main
The Linux installation variables file linux.yml doesn't exists in defaults/main.

https://github.com/nginxinc/ansible-role-nginx/blob/main/defaults/main/linux.yml

### To reproduce
Include the same.

### Expected behavior
It should be present to guide the Role's behavior on Linux systems.

[2021-08-19 14:03] DevopsVlogger commented on #434
<img width="1352" alt="Screenshot 2021-08-19 at 7 31 37 PM" src="https://user-images.githubusercontent.com/1673949/130082365-5e190392-b584-4913-90d8-19d08a24fbde.png">

<img width="1008" alt="Screenshot 2021-08-19 at 7 31 30 PM" src="https://user-images.githubusercontent.com/1673949/130082426-02434062-5005-49f0-b84e-f828de13044a.png">

[2021-08-19 14:32] alessfg commented on #434
Good catch @DevopsVlogger! As it turns out, those variables where moved to [`/vars/main.yml`](https://github.com/nginxinc/ansible-role-nginx/blob/main/vars/main.yml) sometime ago. Looks like the README needs to be updated!

[2021-08-20 10:45] #434 closed

[2021-09-09 18:41] FuhuXia opened #440 "Install stable version of Nginx"
### Is your feature request related to a problem? Please describe
I want to have better control on what version of Nginx to be installed, not always the Mainline version. For example, I want it to always be the current stable version.

### Describe the solution you'd like
Offer a variable to choose stable/development/mainline version

### Describe alternatives you've considered

### Additional con

[2021-09-09 18:46] FuhuXia opened #441 "Revert from NGINX `mainline` to NGINX `stable`"
### Is your feature request related to a problem? Please describe
On a fresh Ubunutu instance, Nginx 1.21.3 is installed by the current playbook. But if the Ubuntu has Nginx 1.18.0 on it, 1.21.3 is not installed, it keeps the 1.18.0.

### Describe the solution you'd like
Give user option to always get latest Nginx version by replacing existing one.

### Describe alternatives you've considered

###

[2021-09-09 19:44] alessfg commented on #440
Hey @FuhuXia!

You can use [`nginx_version`](https://github.com/nginxinc/ansible-role-nginx/blob/main/defaults/main/main.yml#L25) to specify a version. You can also use [`nginx_branch`](https://github.com/nginxinc/ansible-role-nginx/blob/main/defaults/main/main.yml#L79) to choose between `mainline` and `stable`.

Does that help?

[2021-09-09 19:46] alessfg commented on #441
Hey there!

Can you try using [`nginx_state`](https://github.com/nginxinc/ansible-role-nginx/blob/main/defaults/main/main.yml#L35) and seeing if that helps solve your issue?

[2021-09-15 21:00] laurent-indermuehle opened #443 "Missing requirements"
The Readme lacks some requirements I encountered when trying this role on a clean minimal install of Rocky 8:

- The role doesn't work if runs on another user than root. Either, tell the user to run the playbook as root, or add "become: true" to the line that include the role:

[code]
But it should be your responsibility to add the user escalation to root on tasks level, no?

- The following packe

[2021-09-16 11:42] alessfg commented on #443
You are right that the role requires root permissions to run. I'll add a note to the README/tests (there's nothing that indicates as much at the moment). That being said, I don't think I agree with automatically adding user escalation to root level within the actual tasks unless it's implemented as a `vars_prompt`, but that might require some R&D before it's properly implemented.

[2021-09-16 19:44] laurent-indermuehle commented on #443
Oh no, I meant to add "become: true" on tasks like yum, service, etc... Nothing fancier than that.

[2021-09-17 12:55] alessfg commented on #443
I see -- let me think about that and get back to you then 😄

[2021-09-17 12:56] alessfg commented on #441
Haven't heard back so I'm closing this for the time being. Feel free to reopen if you are still running into this issue!

[2021-09-17 12:56] alessfg commented on #440
Haven't heard back so I'm closing this for the time being. Feel free to reopen if you are still running into this issue!

[2021-09-17 12:56] #440 closed

[2021-09-17 19:32] laurent-indermuehle commented on #443
I know 2 solutions:

- Execute the whole playbook as root (ansible_user: root). It is faster both to write yaml and execute. But security team doesn't like it.
- Add a prepare.yml step in Molecule that create a linux user with sudoers configured to allow sudo to root. Then use this user as ansible_user in converge.yml and verify.yml. This way, you catch any task that need root privileges during te

[2021-09-21 19:34] FuhuXia commented on #441
Using `mainline` in ...
[code]
... will overwrite a `stable` install, but not the other way around. Any logic behind it?

[2021-09-21 22:07] alessfg commented on #441
Well, fundamentally, `mainline` is the latest release. I can look into how much work it'd require to allow both use cases, but you would be the first user that I hear tries to go back from `mainline` to `stable` on the same install.

[2021-09-29 12:35] alessfg commented on #441
I've done some more digging and looks like the `apt_repository` module appends the stable repository info to the mainline repository info. This in turn means that installing NGINX even when setting up the `mainline` will fail.

A workaround would be to check for preexisting repository info and deleting it before setting up the new repository, but that can cause some issues related to preexisting e

[2021-09-29 12:42] alessfg commented on #443
Indeed, this solution would be less than ideal for a wide range of reasons.

I could do this, but even if I caught exactly what tasks require root privileges, what good would that do if I don't explicitly make those tasks run as root in the role tasks? And that comes back to the original quandary of whether we should run anything as root by default given the potential issues that might stem from t

[2021-09-29 21:11] laurent-indermuehle commented on #443
Matrix is a great place to ask for advice on the multitude of Ansible channels. Especially this week. There is both the [Ansible Contributor Summit](https://www.eventbrite.com/e/ansible-contributor-summit-202109-tickets-167664955395) and [Ansible Fest 2021](https://www.ansible.com/ansiblefest) right now.

Because I fail to see the problem with `become: true` on tasks. For me, it's the normal way o

[2021-09-29 23:51] alessfg commented on #443
What distro are you using? I test quite a few distributions by default and I have not run into those dependencies missing.

[2021-09-30 05:51] laurent-indermuehle commented on #443
I tested on a clean minimal install of Rocky 8

[2021-10-01 01:54] alessfg commented on #443
Oh, that is not a supported distribution for either NGINX OSS or NGINX Plus. Implementing a workflow to install those dependencies on that distribution would not currently be in the scope of this role. My best recommendation is to use `pre_task` to handle them.

[2021-10-01 06:51] laurent-indermuehle commented on #443
oh right, I'm sorry.
Then I close my issue.

[2021-10-01 06:51] #443 closed

[2021-10-02 13:23] ssttehrani opened #449 "Certificate verification error in CentOS 7"
### Describe the bug

Due to LetsEncrypt root certificate expiration on September 30, 2021, the following error occurs in `(Amazon Linux/CentOS/Oracle Linux/RHEL/SLES) Add NGINX signing key` task for CentOS 7.

`fatal: [centos-7]: FAILED! => {"changed": false, "msg": "failed to fetch key at https://nginx.org/keys/nginx_signing.key , error was: Request failed: <urlopen error [SSL: CERTIFICATE_VERIF

[2021-10-04 11:12] alessfg commented on #449
There is a bit more to discuss in so far as this specific issue goes. Namely, as you might notice, the role does try to install `ca-certificates` in CentOS, but since it's already installed, the task does nothing and moves along. The issue you found can be fixed by updating `ca-certificates` but since that is a key package for the role to work correctly, this should, perhaps, be handled by the rol

[2021-10-06 11:39] alessfg commented on #449
I ended up implementing a fix in #452 😄

[2021-10-06 11:39] #449 closed

[2021-10-07 05:33] AchimGrolimund opened #456 "Failure on Installing"
https://github.com/nginxinc/ansible-role-nginx/blob/d25945b2c386b816dab03e5a24c47ac307013d30/tasks/opensource/install-redhat.yml#L2

[code]

Host: EC2 RedHat 8 Instance

i run the Role without anything.

[code]

[code]

[code]

Did anyone know what happens with this error?

greetings

[2021-10-07 11:08] AchimGrolimund commented on #456
hey @alessfg

I wil check it later. but here is my command to install Ansible on the Image:

[code]

[2021-11-18 18:04] fernando-bosso opened #467 "PCRE install from source fails because https://ftp.pcre.org is not available anymore"
### Describe the bug

When downloading `pcre` dependency from source an error is thrown as shown below:

[code]

### To reproduce

1. Execute nginxinc.nginx_core collection

### Expected behavior

error `<urlopen error timed out>` should arise, because URL https://ftp.pcre.org is not available anymore, according to http://pcre.org/

### Your environment

- Version of the NGINX role or specific com

[2021-11-18 20:17] alessfg commented on #467
Nice catch! We don't test for source package install endpoints and this change slipped right past us!

[2021-11-18 23:55] #467 closed

[2021-12-07 18:41] alessfg commented on #456
Updated the docs in https://github.com/nginxinc/ansible-role-nginx/commit/f7424957fd3079bca5c643a17afe31a40c1ae658 😄

[2021-12-07 18:41] #456 closed

[2021-12-09 20:45] alessfg commented on #441
Finally circling back to this. I've added the necessary parameters in #475 to allow downgrades. You should be able to switch between `mainline` and `stable` by specifying both the branch and version. You can check https://github.com/nginxinc/ansible-role-nginx/blob/main/molecule/downgrade/converge.yml for a concrete example on how to do it.

[2021-12-09 20:45] #441 closed

[2021-12-21 16:31] aek-arm opened #478 "Missing ansible version check / usage of unsupported feature allow_downgrade"
### Describe the bug

Starting with version 0.22.0 the role no longer works with ansible < 2.12. Hence debian buster is by default not supported as only python 3.7 is available.

### To reproduce

Steps to reproduce the behavior:

1. Use Debian 10 VM
2. Install ansible via python3 -m pip ansible
3. install role in version 0.22
4. Deploy NGINX role using a playbook.yml
5. See error

build	21-Dec-20

[2021-12-23 22:06] yorklyq opened #479 "nginx_controller_bundled_db logic issue in main.yml"
### Describe the bug
In main.yml. should the line 86 be changed from :
  `  {{ ((nginx_controller_bundled_db | bool) and (nginx_controller_version is version('3.8', operator='ge', strict=True))) | ternary("--database-host '" + nginx_controller_db_host + "' --database-port '" + nginx_controller_db_port + "' --database-user '" + nginx_controller_db_user + "' --database-password '" + nginx_controller

[2021-12-23 22:13] #479 closed

[2021-12-23 22:13] yorklyq commented on #479
post it in a wrong role

[2021-12-28 14:43] alessfg commented on #478
Checking within the role for unsupported versions of Ansible is in the roadmap. I'm aiming to add it before the next major release but I have no ETA at the moment.

[2021-12-30 11:13] defanator commented on #248
JFTR, latest agent version (1.8.0) now officially supports Ubuntu 20.04. Please follow the docs in order to upgrade:

https://amplify.nginx.com/docs/guide-installing-and-managing-nginx-amplify-agent.html#updating-the-agent

[2022-01-10 10:22] TuxInvader commented on #478
This also applies to Ubuntu Bionic (18.04 LTS) where the most recent Ansible PPA release is currently 2.9.27. Newer Ubuntu versions have 5.x releases, so Focal (20.04 LTS) works.

[2022-01-29 19:16] w0rldart commented on #478
I'm experiencing this issue with Ubuntu Focal too

[2022-02-11 15:04] ChrisMcKee opened #486 "GPG Error installing amplify in Ubuntu Focal (20lts)"
* Ubuntu 20.04lts (focal)

During packer creation the amplify step fails

[code]

[2022-02-11 15:18] ChrisMcKee commented on #486
The centos/amz install task seem to setup the gpg the debian one doesnt (unless theres a default i'm missing)
The install script at https://raw.githubusercontent.com/nginxinc/nginx-amplify-agent/master/packages/install.sh adds the key

[code]

[2022-02-14 15:08] #486 closed

[2022-02-14 21:53] mohsen-alizadeh opened #490 "PCRE package address is not accessible anymore"
### Describe the bug

On installing Nginx from source code, it tries to install PCRE package from "https://ftp.exim.org/pub/pcre/{{ pcre_version }}.tar.gz",
This address is not available anymore

### To reproduce

Steps to reproduce the behavior:

Install nginx with source

### Expected behavior

### Your environment

### Additional context

Add any other context about the problem here.

[2022-02-14 22:06] mohsen-alizadeh commented on #490
check out https://www.pcre.org/

```Note that the former ftp.pcre.org FTP site is no longer available. You will need to update any scripts that download PCRE source code to download via HTTPS, Git, or Subversion from the new home on GitHub instead.```

[2022-02-14 23:05] alessfg commented on #490
You are right in that the original mirror is no longer supported. That being said, https://ftp.exim.org/pub/pcre does work, and role can download and install `pcre` from that mirror without any issues (I just double checked it on my end to be sure). Are you perhaps using an old version? If you are using `0.22` or later, this issue should be resolved.

[2022-02-16 12:34] alessfg commented on #490
Closing this for the time being since the issue should have been solved in the latest release (`0.22`).

[2022-02-16 12:34] #490 closed

[2022-03-03 12:21] jwhite-ac opened #495 ""(Handler) Print NGINX error if syntax check fails" always fails in check mode when nginx hasn't been installed yet"
### Describe the bug

On a fresh Ubuntu 20.04 VM that does not yet have Nginx installed, the handler "(Handler) Print NGINX error if syntax check fails" is failing in check mode because it one of its conditions is `config_check.stderr_lines is defined` - `config_check` is set by the preceeding handler "(Handler) Check NGINX" which has `check_mode: false` set so that it always runs, which means tha

[2022-03-04 01:21] alessfg commented on #495
Nice catch! I'll try to reproduce it on my end as soon as I get a chance. I might end up removing the handler altogether now that anything config related has migrated to the NGINX config role.

[2022-03-04 09:46] jwhite-ac commented on #495
Nice one. I think the preceeding handler would spit out its stderr lines on fail in any case so this handler may be redundant.

[2022-03-08 16:42] #495 closed

[2022-04-08 18:46] coaxial opened #507 "gpg-agent missing"
### Describe the bug

When running the role, the "(Debian/Ubuntu) Add NGINX signing key" task fails on Ubuntu 20.04 because gpg-agent is missing.

### To reproduce

Steps to reproduce the behavior:

1. Run the role against the `geerlingguy/ubuntu2004-ansible:latest` docker container
2. See how the task fails because `gpg-agent` isn't installed

### Expected behavior

The task should not error

###

[2022-06-04 13:54] bateleurX opened #518 "Support for RHEL 9"
### Is your feature request related to a problem? Please describe

Since nginx oss packages are provided for RHEL9, it would be better to support RHEL 9 in playbooks.

### Describe the solution you'd like

Add metadata variables and molecule codes.
My suggested modification is #517.
This PR fails at upgrading molecule, because there is only one rpm for RHEL 9 and can't install older version. If an

[2022-06-13 11:26] #518 closed

[2022-08-22 08:21] gabrielnoguerales opened #542 "Can't deploy Nginx role on a RHEL machine behind a proxy"
### Describe the bug

The install of Nginx fails as it can't reach the url because it is not configured to use the proxy

I have the proxy set on both yum config and env variables http_proxy and https_proxy

Playbook fail:
<img width="1009" alt="Playbook_error" src="https://user-images.githubusercontent.com/42550410/185872595-e3817548-f5f9-422c-a226-6e85ca0ea2e6.png">

Proxy config on yum

<img wi

[2022-08-26 23:20] alessfg commented on #542
Heya!

So, the tl;dr is that for security purposes, having an RPM signing key around tends to be a pretty good idea. The task that is failing means that the role is indeed not capable of accessing the .org endpoint to pull the signing key. The only real way to change the endpoint is to use the `nginx_signing_key` variable, but you would need to host the RPM signing key in an endpoint of your choic

[2022-08-29 12:37] gabrielnoguerales commented on #542
Hello,

The problem is that is not using the proxy set on HTTP_PROXY and HTTPS_PROXY on env. If I wget or curl the url it works.

[2022-08-30 00:04] alessfg commented on #542
Have you tried setting the environment variables as a pre_task before the role runs? This doc actually references the `HTTP_PROXY` environment variable so it might set you in the right path https://docs.ansible.com/ansible/latest/user_guide/playbooks_environment.html

[2022-09-23 12:30] alessfg commented on #542
Closing this for the time being. The link in the previous comment is by all accounts the best native solution.

[2022-09-23 12:30] #542 closed

[2022-10-22 23:27] zadrix opened #555 "Bug nginx_install_from: source (update zlib_version)"
### Describe the bug

Bug when I build with source ```nginx_install_from: source```

[code]

### To reproduce

Steps to reproduce the behavior:

Deploy NGINX role using playbook.yml with source ```nginx_install_from: source```

### Expected behavior

Build is not OK.
```zlib_version``` is defined in file ```vars/main.yml``` but **zlib-1.2.12** is no longer avaible
Good version is **zlib-1.2.13** s